<div class="form-group d-flex justify-content-start mt-2">
    <button class="btn btn-primary fw-bold" id="btn-amigos"
            data-bs-toggle="modal-amigos" hx-get="{% url 'amigos' %}?relacion=animador"
            hx-target="#dialog-amigos">
        <div class="row">
            <div class="col-2">
                <i class="fa-solid fa-user-plus"></i>
            </div>
            <div class="d-none d-md-block col-10">
                Añadir animador
            </div>
        </div>
    </button>
</div>

<div class='form-group mt-2 mt-sm-3 mt-lg-3 animadores'>
    <input type="hidden" id="num_animadores" name="num_animadores"
           value="{{num_animadores}}">
{% for animador in animadores %}
    <div class="animador p-2 p-md-3 row" id="animador-{{animador.email.email}}">
        <input type="hidden" name="animador-{{forloop.counter}}"
               value="{{animador.email.email}}">
        <div class="foto-perfil col-4 col-md-3 col-lg-2">
            <img class="imagen-perfil img-fluid rounded mx-auto d-block" src="{{animador.email.foto_perfil}}">
        </div>
        <div class="nombre col-5 col-md-5 col-lg-8 justify-content-start">
            <h5 class="fw-bold">
                {{animador.email.nombre}}
            </h5>
        </div>
        <div class="botones col-4 col-lg-2">
            <button class="superanimador btn btn-primary fw-bold mb-md-0 mb-2"
                    onclick="cambiarSuperanimador('{{forloop.counter}}')">
                <input type="hidden" name="superanimador-{{forloop.counter}}"
                       value="{{animador.superanimador}}">
                {% if animador.superanimador %}
                <i class="fa-solid fa-eye"></i>
                {% else %}
                <i class="fa-solid fa-eye-slash"></i>
                {% endif %}
                Ánimos
            </button>
            <button class="borrar-amigo btn btn-primary fw-bold borrar-amigo btn btn-primary fw-bold mx-md-4"
                    onclick="borrarAnimador('{{animador.email.email}}')">
                <i class="fa-sharp fa-solid fa-trash"></i>
                Eliminar
            </button>
        </div>
    </div>
{% endfor %}
</div>

<div class="row">
  <div class='form-group d-flex justify-content-start mt-2 mt-sm-3 mt-lg-5 col'>
      <button type="button" id="boton-anterior" class="btn btn-primary fw-bold"
              onclick="{% if tipo_reto == 'colectivo'%} cambiarPestana('participantes') {% else %} cambiarPestana('etapas') {% endif %}">
          <i class="fa-solid fa-angle-left"></i>
          Anterior
      </button>
  </div>

  <div class='form-group d-flex justify-content-end mt-2 mt-sm-3 mt-lg-5 col'>
      <button type="submit" id="boton-fin" class="btn btn-primary fw-bold">
          Finalizar
      </button>
  </div>
</div>

<script>
/****************************************************************************************/

    // Función para borrar el registro del animador
    function borrarAnimador(email){

        const totalAnimadores = $('#num_animadores').val();

        // Restamos el contador de animadores total
        $('#num_animadores').val(totalAnimadores - 1);

        // Eliminamos el div con la información del animador a borrar
        divAnimador = document.getElementById("animador-" + email);
        divAnimador.remove();

        var posibles_amigos = amigos.filter(function(amigo){return amigo.email === email});
        amigos.pop(posibles_amigos[0]);
    }

/****************************************************************************************/

    // Función para cambiar permisos de superanimador
    function cambiarSuperanimador(numAnimador){
        const superanimador = divAnimador.getElementsByClassName("superanimador-" +
        numAnimador)[0];
        const superanimadorValue = superanimador.value();
        esSuperanimador = (superanimador === 'true');

        // Cambiamos valor del input de superanimador
        superanimador.value(!esSuperanimador);

        // Cambiamos el símbolo del botón
        if(!esSuperanimador){
            superanimador.nextSibling.classList.remove("fa-eye");
            superanimador.nextSibling.classList.add("fa-eye-slash");
        }
        else{
            superanimador.nextSibling.classList.remove("fa-eye-slash");
            superanimador.nextSibling.classList.add("fa-eye");
        }
    }

/****************************************************************************************/

    // Función para añadir animador
    function anadirAnimadores(animadores){

        divAnimadores = document.getElementsByClassName("animadores")[0];

        animadores.forEach( animador => {
            divAnimador = document.getElementById("animador-" + animador.email);
            totalAnimadores = parseInt($('#num_animadores').val());

            if(!divAnimador){
                // Aumentamos contador
                totalAnimadores += 1
                $('#num_animadores').val(totalAnimadores);

                // Creamos div particular
                divAnimador = document.createElement("div");
                divAnimador.className = "animador p-2 p-md-3 row";
                divAnimador.id = "animador-" + animador.email;

                // Creamos input oculto
                inputAnimador = document.createElement("input");
                inputAnimador.name = "animador-" + totalAnimadores;
                inputAnimador.setAttribute("type", "hidden");
                inputAnimador.setAttribute("value", "animador-" + animador.email);
                divAnimador.appendChild(inputAnimador);

                // Creamos div de foto de perfil
                divFoto = document.createElement("div");
                divFoto.className = "foto-perfil col-4 col-md-3 col-lg-2";
                imagen = document.createElement("img");
                imagen.className = "imagen-perfil img-fluid rounded mx-auto d-block";
                imagen.setAttribute("src", animador.foto_perfil);
                divFoto.appendChild(imagen);
                divAnimador.appendChild(divFoto);

                // Creamos el div de nombre
                divNombre = document.createElement("div");
                divNombre.className = "nombre col-5 col-md-5 col-lg-8 justify-content-start";
                nombre = document.createElement("h5");
                nombre.innerText = animador.nombre;
                nombre.className = "fw-bold";
                divNombre.appendChild(nombre);
                divAnimador.appendChild(divNombre);

                // Creamos el div de los botones
                divBotones = document.createElement("div");
                divBotones.className = "botones col-4 col-lg-2";

                botonSuper = document.createElement("button");
                botonSuper.className = "superanimador btn btn-primary fw-bold mb-md-0 mb-2";
                botonSuper.setAttribute("onclick", "cambiarSuperanimador('"+
                    totalAnimadores +"')");
                inputSuperanimador = document.createElement("input");
                inputSuperanimador.setAttribute("type", "hidden");
                inputSuperanimador.setAttribute("value", "false");
                inputSuperanimador.name = "superanimador-" + totalAnimadores;
                botonSuper.appendChild(inputSuperanimador);
                iconoSuperanimador = document.createElement("i");
                iconoSuperanimador.className = "fa-solid fa-eye-slash";
                botonSuper.appendChild(iconoSuperanimador);
                textoSuperanimador = document.createTextNode("Ánimos");
                botonSuper.appendChild(textoSuperanimador);
                divBotones.appendChild(botonSuper);

                botonBorrar = document.createElement("button");
                botonBorrar.className = "borrar-amigo btn btn-primary fw-bold borrar-amigo btn btn-primary fw-bold mx-md-4";
                botonBorrar.setAttribute("onclick", "borrarAnimador('"+ animador.email
                +"')");
                iconoBorrar = document.createElement("i");
                iconoBorrar.className = "fa-sharp fa-solid fa-trash";
                botonBorrar.appendChild(iconoBorrar);
                textoBorrar = document.createTextNode("Eliminar");
                botonBorrar.appendChild(textoBorrar);
                divBotones.appendChild(botonBorrar);
                divAnimador.appendChild(divBotones);
                divAnimadores.appendChild(divAnimador);
            }
        })
    }

/****************************************************************************************/
</script>