<!-- BOTONES NAVEGACIÓN TABS -->
<ul class="nav nav-tabs" id="tab-etapas" role="tablist">
  {% for etapa_form in etapas_form %}
  <li class="nav-item" role="presentation">
    <button class="nav-link {% if forloop.counter == 1 %} active {% endif %}"
            id="{{ forloop.counter }}-etapa-tab" data-bs-toggle="tab"
            data-bs-target="#{{ forloop.counter }}-etapa" type="button" role="tab"
            aria-controls="{{ forloop.counter }}-etapa" aria-selected="true"
            onclick="cambiarPestanaEtapa('{{ forloop.counter }}-etapa-tab')">
      <div class="row">
        <div class="col-2">
          <i class="fa-solid fa-chart-simple"></i>
        </div>
        <div class="d-none d-md-block col-9">
          <h5>{{ forloop.counter }}º Etapa</h5>
        </div>
      </div>
    </button>
  </li>
  {% endfor %}
</ul>

<!-- CUERPO DE LOS TABS -->
<div class="tab-content p-3" id="form-etapa-content">
  {% for etapa_form in etapas_form %}
  <div class="tab-pane fade {% if forloop.counter == 1 %} show active {% endif %}"
       id="{{ forloop.counter }}-etapa" role="tabpanel"
       aria-labelledby="{{ forloop.counter}}-etapa-tab">
    {% include 'YoPuedo/formulario_reto/etapa.html' with etapa_form=etapa_form etapa_anterior=forloop.counter-1 etapa_siguiente=forloop.counter+1%}
  </div>
  {% endfor %}
</div>

<div class="row">
  <div class='form-group d-flex justify-content-start mt-5 col'>
      <button type="submit" id="boton-anterior" class="btn btn-primary fw-bold"
              value="anterior_paso" onclick="cambiarPestana('general')">
          <i class="fa-solid fa-angle-left"></i>
          Anterior
      </button>
  </div>

  <div class='form-group d-flex justify-content-end mt-5 col'>
      <button type="submit" id="boton-siguiente" class="btn btn-primary fw-bold"
              value="siguiente_paso"
              onclick="{% if tipo_reto == 'colectivo'%} cambiarPestana('participantes') {% else %} cambiarPestana('animadores') {% endif %}">
          Siguiente
          <i class="fa-solid fa-angle-right"></i>
      </button>
  </div>
</div>

<input value="{{ num_etapas }}" id="num_etapas" name="num_etapas" type="hidden"/>

<script>

  function cambiarPestanaEtapa(id){
    $('#tab-etapas button[aria-controls="' + id + '"]').tab('show');
    cambiarColorCuerpo(id);
  }
</script>