<div class='form-group fw-bold {% if field.errors %} errorlist {% endif %}'>
    <i class="fa-solid fa-bullseye"></i>
    {{ general_form.titulo.label }}
    <div class="row align-items-center">
        <div class="col-9 col-md-11 {{ general_form.titulo.name }}">
            {{ general_form.titulo }}
        </div>
        <div class="col">
            {% include 'YoPuedo/elementos/microfono.html' with elementRecognition=general_form.titulo.id_for_label %}
        </div>
    </div>

    {% for error in general_form.titulo.errors %}
    <div class="errorlist">
      <i class="bi bi-x-circle-fill"></i>
      {{ error }}
    </div>
    {% endfor %}
</div>

<div class='form-group fw-bold {% if field.errors %} errorlist {% endif %} mt-4'>
    <i class="fa-solid fa-flag-checkered"></i>
    Objetivo:
    <div class="objetivo botones row m-1 justify-content-between">
        <div class="col-3 p-0">
            {{ general_form.objetivo_imagen }}
            <button class="imagen p-3 btn btn-primary fw-bold">
                <label for="id_objetivo_imagen">
                    <i class="fa-solid fa-image"></i>
                    <span class="label d-none d-md-inline">
                        {{ general_form.objetivo_imagen.label }}
                    </span>
                </label>
            </button>
        </div>

        <div class="col-3 p-0">
            {{ general_form.objetivo_audio }}
            <button class="uploadaudio p-3 btn btn-primary fw-bold">
                <label for="id_objetivo_audio">
                    <i class="fa-solid fa-headphones"></i>
                    <span class="label d-none d-md-inline">
                        {{ general_form.objetivo_audio.label }}
                    </span>
                </label>
            </button>
        </div>

        <div class="col-3 p-0">
            {{ general_form.objetivo_video }}
            <button class="video p-3 btn btn-primary fw-bold">
                <label for="id_objetivo_video">
                    <i class="fa-solid fa-video"></i>
                    <span class="label d-none d-md-inline">
                        {{ general_form.objetivo_video.label }}
                    </span>
                </label>
            </button>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-9 col-md-11 {{ general_form.objetivo_texto.name }}">
            {{ general_form.objetivo_texto }}
        </div>
        <div class="col">
            {% include 'YoPuedo/elementos/microfono.html' with elementRecognition=general_form.objetivo_texto.id_for_label %}
        </div>
    </div>

    {% for error in general_form.objetivo_texto.errors%}
    <div class="errorlist">
      <i class="bi bi-x-circle-fill"></i>
      {{ error }}
    </div>
    {% endfor %}
</div>

<div class='form-group fw-bold {% if field.errors %} errorlist {% endif %} mt-4 row'>
    <div class="col-md-2">
        <i class="fa-solid fa-square-check"></i>
        {{ general_form.categoria.label }}
    </div>
    {{ general_form.categoria }}

    {% for error in general_form.categoria.errors%}
    <div class="errorlist">
      <i class="bi bi-x-circle-fill"></i>
      {{ error }}
    </div>
    {% endfor %}
</div>

<div class='form-group fw-bold {% if field.errors %} errorlist {% endif %} mt-4'>
    <i class="fa-solid fa-trophy"></i>
    Recompensa:
    <div class="recompensa botones row m-1 justify-content-between">
        <div class="col-3 p-0">
            {{ general_form.recompensa_imagen }}
            <button class="imagen p-3 btn btn-primary fw-bold">
                <label for="id_recompensa_imagen">
                    <i class="fa-solid fa-image"></i>
                    <span class="label d-none d-md-inline">
                        {{ general_form.recompensa_imagen.label }}
                    </span>
                </label>
            </button>
        </div>

        <div class="col-3 p-0">
            {{ general_form.recompensa_audio }}
            <button class="uploadaudio p-3 btn btn-primary fw-bold">
                <label for="id_recompensa_audio">
                    <i class="fa-solid fa-headphones"></i>
                    <span class="label d-none d-md-inline">
                        {{ general_form.recompensa_audio.label }}
                    </span>
                </label>
            </button>
        </div>

        <div class="col-3 p-0">
            {{ general_form.recompensa_video }}
            <button class="video p-3 btn btn-primary fw-bold">
                <label for="id_recompensa_video">
                    <i class="fa-solid fa-video"></i>
                    <span class="label d-none d-md-inline">
                        {{ general_form.recompensa_video.label }}
                    </span>
                </label>
            </button>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-9 col-md-11 {{ general_form.recompensa_texto.name }}">
            {{ general_form.recompensa_texto }}
        </div>
        <div class="col">
            {% include 'YoPuedo/elementos/microfono.html' with elementRecognition=general_form.recompensa_texto.id_for_label %}
        </div>
    </div>

    {% for error in general_form.objetivo_texto.errors%}
    <div class="errorlist">
      <i class="bi bi-x-circle-fill"></i>
      {{ error }}
    </div>
    {% endfor %}
</div>

<div class='form-group d-flex justify-content-end mt-5'>
    <button id="boton-siguiente" class="btn btn-primary fw-bold"
            onclick='cambiarPestana("etapas")'>
        Siguiente
        <i class="fa-solid fa-angle-right"></i>
    </button>
</div>

<script>
    ;( function ( document, window, index )
    {
        var inputs = document.querySelectorAll( '.uploadfile' );
        Array.prototype.forEach.call( inputs, function( input )
        {
            var label	 = input.nextElementSibling,
			labelVal = label.innerHTML;

            input.addEventListener( 'change', function( e )
            {
                var fileName = e.target.value.split( '\\' ).pop();

                if(fileName)
                    label.innerHTML = fileName;
                else
                    label.innerHTML = labelVal;
            });
        });
    }( document, window, 0 ));
</script>

