<div class='form-group fw-bold {% if general_form.titulo.errors %} errorlist {% endif %}'>
    <i class="fa-solid fa-bullseye"></i>
    {{ general_form.titulo.label }}
    <div class="row align-items-center">
        <div class="col-9 col-sm-10 col-lg-11 {{ general_form.titulo.name }}">
            {{ general_form.titulo }}
        </div>
        <div class="col-2 col-lg-1 d-flex justify-content-center">
            {% include 'YoPuedo/elementos/microfono.html' with elementRecognition=general_form.titulo.id_for_label %}
        </div>
    </div>

    {% for error in general_form.titulo.errors %}
    <div class="errorlist">
      <i class="bi bi-x-circle-fill"></i>
      {{ error }}
    </div>
    {% endfor %}
</div>

<div class='form-group fw-bold {% if general_form.objetivo_texto.errors %} errorlist {% endif %} mt-4'>
    <i class="fa-solid fa-flag-checkered"></i>
    Objetivo:
    <div class="objetivo botones row m-1 justify-content-between">
        <div class="col-3 p-0 d-flex justify-content-center">
            {{ general_form.objetivo_imagen }}
            <button class="imagen  p-md-3 p-sm-2  btn btn-primary fw-bold">
                <label for="id_objetivo_imagen">
                    <i class="fa-solid fa-image"></i>
                    <span class="label d-none d-sm-inline">
                        {% if objetivo_imagen and objetivo_imagen != "" %}
                            {{ objetivo_imagen }}
                        {% else %}
                            {{ general_form.objetivo_imagen.label }}
                        {% endif %}
                    </span>
                </label>
            </button>
        </div>

        <div class="col-3 p-0 d-flex justify-content-center">
            {{ general_form.objetivo_audio }}
            <button class="uploadaudio  p-md-3 p-sm-2  btn btn-primary fw-bold">
                <label for="id_objetivo_audio">
                    <i class="fa-solid fa-headphones"></i>
                    <span class="label d-none d-sm-inline">
                        {% if objetivo_audio and objetivo_audio != "" %}
                            {{ objetivo_audio }}
                        {% else %}
                            {{ general_form.objetivo_audio.label }}
                        {% endif %}
                    </span>
                </label>
            </button>
        </div>

        <div class="col-3 p-0 d-flex justify-content-center">
            {{ general_form.objetivo_video }}
            <button class="video  p-md-3 p-sm-2  btn btn-primary fw-bold">
                <label for="id_objetivo_video">
                    <i class="fa-solid fa-video"></i>
                    <span class="label d-none d-sm-inline">
                        {% if objetivo_video and objetivo_video != "" %}
                            {{ objetivo_video }}
                        {% else %}
                            {{ general_form.objetivo_video.label }}
                        {% endif %}
                    </span>
                </label>
            </button>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-9 col-sm-10 col-lg-11 {{ general_form.objetivo_texto.name }}">
            {{ general_form.objetivo_texto }}
        </div>
        <div class="col-2 col-lg-1 d-flex justify-content-center">
            {% include 'YoPuedo/elementos/microfono.html' with elementRecognition=general_form.objetivo_texto.id_for_label %}
        </div>
    </div>

    {% for error in general_form.objetivo_texto.errors%}
    <div class="errorlist">
      <i class="bi bi-x-circle-fill"></i>
      {{ error }}
    </div>
    {% endfor %}
</div>

<div class='form-group fw-bold {% if general_form.categoria.errors %} errorlist {% endif %} mt-4 row'>
    <div class="col-md-2 col-sm-4">
        <i class="fa-solid fa-square-check"></i>
        {{ general_form.categoria.label }}
    </div>
    {{ general_form.categoria }}

    {% for error in general_form.categoria.errors%}
    <div class="errorlist">
      <i class="bi bi-x-circle-fill"></i>
      {{ error }}
    </div>
    {% endfor %}
</div>

<div class='form-group fw-bold {% if general_form.recompensa_texto.errors %} errorlist {% endif %} mt-4'>
    <i class="fa-solid fa-trophy"></i>
    Recompensa:
    <div class="recompensa botones row m-1 justify-content-between">
        <div class="col-3 p-0 d-flex justify-content-center">
            {{ general_form.recompensa_imagen }}
            <button class="imagen p-md-3 p-sm-2  btn btn-primary fw-bold">
                <label for="id_recompensa_imagen">
                    <i class="fa-solid fa-image"></i>
                    <span class="label d-none d-sm-inline">
                        {% if recompensa_imagen and recompensa_imagen != "" %}
                            {{ recompensa_imagen }}
                        {% else %}
                            {{ general_form.recompensa_imagen.label }}
                        {% endif %}
                    </span>
                </label>
            </button>
        </div>

        <div class="col-3 p-0 d-flex justify-content-center">
            {{ general_form.recompensa_audio }}
            <button class="uploadaudio p-md-3 p-sm-2  btn btn-primary fw-bold">
                <label for="id_recompensa_audio">
                    <i class="fa-solid fa-headphones"></i>
                    <span class="label d-none d-sm-inline">
                        {% if recompensa_audio and recompensa_audio != "" %}
                            {{ recompensa_audio }}
                        {% else %}
                            {{ general_form.recompensa_audio.label }}
                        {% endif %}
                    </span>
                </label>
            </button>
        </div>

        <div class="col-3 p-0 d-flex justify-content-center">
            {{ general_form.recompensa_video }}
            <button class="video p-md-3 p-sm-2  btn btn-primary fw-bold">
                <label for="id_recompensa_video">
                    <i class="fa-solid fa-video"></i>
                    <span class="label d-none d-sm-inline">
                        {% if recompensa_video and recompensa_video != "" %}
                            {{ recompensa_video }}
                        {% else %}
                            {{ general_form.recompensa_video.label }}
                        {% endif %}
                    </span>
                </label>
            </button>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-9 col-sm-10 col-lg-11 {{ general_form.recompensa_texto.name }}">
            {{ general_form.recompensa_texto }}
        </div>
        <div class="col-2 col-lg-1 d-flex justify-content-center">
            {% include 'YoPuedo/elementos/microfono.html' with elementRecognition=general_form.recompensa_texto.id_for_label %}
        </div>
    </div>

    {% for error in general_form.recompensa_texto.errors%}
    <div class="errorlist">
      <i class="bi bi-x-circle-fill"></i>
      {{ error }}
    </div>
    {% endfor %}
</div>

<div class="row">
    {% if "/editar_reto/" in request.path %}
    <div class="col d-flex justify-content-start mt-2 mt-sm-3 mt-lg-5">
        <button id="boton-iniciar" class="btn btn-primary fw-bold" type="button"
                onclick="iniciarReto()">
            <i class="fa-solid fa-play"></i>
            Iniciar reto
        </button>
    </div>
    {% endif %}
    <div class='col d-flex justify-content-end mt-2 mt-sm-3 mt-lg-5'>
        <button id="boton-siguiente" class="btn btn-primary fw-bold" type="button"
                onclick="cambiarPestana('etapas', 'form-reto-content')">
            Siguiente
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
</div>

