<div class='form-group fw-bold {% if field.errors %} errorlist {% endif %}'>
    <i class="fa-solid fa-bullseye"></i>
    {{ general_form.titulo.label }}
    <div class="row align-items-center">
        <div class="col-9 col-md-11 {{ general_form.titulo.name }}">
            {{ general_form.titulo }}
        </div>
        <div class="col">
            {% include 'YoPuedo/elementos/microfono.html' %}
        </div>
    </div>

    {% for error in general_form.titulo.errors %}
    <div class="errorlist">
      <i class="bi bi-x-circle-fill"></i>
      {{ error }}
    </div>
    {% endfor %}
</div>

<div class='form-group fw-bold {% if field.errors %} errorlist {% endif %} mt-4'>
    <i class="fa-solid fa-flag-checkered"></i>
    Objetivo:
    <div class="objetivo botones row m-1 justify-content-between">
        <button class="col-3 imagen p-2 btn btn-primary fw-bold">
            {{ general_form.objetivo_imagen }}
            <label for="id_objetivo_imagen">
                <i class="fa-solid fa-image"></i>
                <span class="label d-none d-md-inline">
                    {{ general_form.objetivo_imagen.label }}
                </span>
            </label>
        </button>

        <button class="col-3 uploadaudio p-2 btn btn-primary fw-bold">
            {{ general_form.objetivo_audio }}
            <label for="id_objetivo_audio">
                <i class="fa-solid fa-headphones"></i>
                <span class="label d-none d-md-inline">
                    {{ general_form.objetivo_audio.label }}
                </span>
            </label>
        </button>

        <button class="col-3 video p-2 btn btn-primary fw-bold">
            {{ general_form.objetivo_video }}
            <label for="id_objetivo_video">
                <i class="fa-solid fa-video"></i>
                <span class="label d-none d-md-inline">
                    {{ general_form.objetivo_video.label }}
                </span>
            </label>
        </button>
    </div>

    <div class="row align-items-center">
        <div class="col-9 col-md-11 {{ general_form.objetivo_texto.name }}">
            {{ general_form.objetivo_texto }}
        </div>
        <div class="col">
            {% include 'YoPuedo/elementos/microfono.html' %}
        </div>
    </div>

    {% for error in general_form.objetivo_texto.errors%}
    <div class="errorlist">
      <i class="bi bi-x-circle-fill"></i>
      {{ error }}
    </div>
    {% endfor %}
</div>

<div class='form-group fw-bold {% if field.errors %} errorlist {% endif %} mt-4'>
    <i class="fa-solid fa-square-check"></i>
    {{ general_form.categoria.label }}
    {{ general_form.categoria }}

    {% for error in general_form.categoria.errors%}
    <div class="errorlist">
      <i class="bi bi-x-circle-fill"></i>
      {{ error }}
    </div>
    {% endfor %}
</div>

<div class='form-group fw-bold {% if field.errors %} errorlist {% endif %} mt-4'>
    <i class="fa-solid fa-trophy"></i>
    Recompensa:
    <div class="recompensa botones row m-1 justify-content-between">
        <button class="col-3 imagen p-2 btn btn-primary fw-bold">
            {{ general_form.recompensa_imagen }}
            <label for="id_recompensa_imagen">
                <i class="fa-solid fa-image"></i>
                <span class="label d-none d-md-inline">
                    {{ general_form.recompensa_imagen.label }}
                </span>
            </label>
        </button>

        <button class="col-3 uploadaudio p-2 btn btn-primary fw-bold">
            {{ general_form.recompensa_audio }}
            <label for="id_recompensa_audio">
                <i class="fa-solid fa-headphones"></i>
                <span class="label d-none d-md-inline">
                    {{ general_form.recompensa_audio.label }}
                </span>
            </label>
        </button>

        <button class="col-3 video p-2 btn btn-primary fw-bold">
            {{ general_form.recompensa_video }}
            <label for="id_recompensa_video">
                <i class="fa-solid fa-video"></i>
                <span class="label d-none d-md-inline">
                    {{ general_form.recompensa_video.label }}
                </span>
            </label>
        </button>
    </div>

    <div class="row align-items-center">
        <div class="col-9 col-md-11 {{ general_form.recompensa_texto.name }}">
            {{ general_form.recompensa_texto }}
        </div>
        <div class="col">
            {% include 'YoPuedo/elementos/microfono.html' %}
        </div>
    </div>

    {% for error in general_form.objetivo_texto.errors%}
    <div class="errorlist">
      <i class="bi bi-x-circle-fill"></i>
      {{ error }}
    </div>
    {% endfor %}
</div>

<div class='form-group d-flex justify-content-end mt-5'>
    <button id="boton-siguiente" class="btn btn-primary fw-bold"
            onclick='$("#tab-pasos").tabs( "select", "etapas-tab" );cambiarColorCuerpo("etapas");'>
        Siguiente
        <i class="fa-solid fa-angle-right"></i>
    </button>
</div>