.btn.btn-primary.principales{
    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.btn.btn-primary.principales{
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #0F27EE;
}

.window{
    height: 100%;
}

.errorlist{
    color: red;
}

@media screen and (max-width: 1199px){

    .btn.btn-primary.principales{
        margin: 5%;
    }
}

@media screen and (min-width: 1200px){

    .btn.btn-primary.principales{
        margin: 2%;
    }
}