.btn.btn-primary.principales{
    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.btn.btn-primary.microfono{
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #0F27EE;
    border-color: #0F27EE;
}

.btn.btn-primary.altavoz{
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #673AB7;
    border-color: #673AB7;
}

.window{
    height: 100%;
}

.errorlist{
    color: red;
}

body.container{
    font-family: 'Comic Neue', cursive;
    height: 100%;
}

.container.basic{
    max-width: 100%;
    padding: 0;
}

h5.titulo {
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 1%;
}

#cabecera{
    background: #04C5B3;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 0.5%;
}

@media screen and (min-width: 1590px) and (max-width: 15px){

    .titulo.col-11{
        width: 97%;
    }
}

@media screen and (min-width: 1255px) and (max-width: 1589px){

    .titulo.col-11{
        width: 96%;
    }
}

@media screen and (min-width: 1054px) and (max-width: 1254px){

    .titulo.col-11{
        width: 95%;
    }
}

@media screen and (((min-width: 667px) and (max-width: 767px)) or ((min-width: 940px) and
(max-width: 1053px))){

    .titulo.col-11{
        width: 94%;
    }
}

@media screen and (((min-width: 567px) and (max-width: 666px)) or ((min-width: 825px) and
(max-width: 939px))){

    .titulo.col-11{
        width: 93%;
    }
}

@media screen and (min-width: 500px) and (max-width: 565px){

    .titulo.col-11{
        width: 92%;
    }
}

@media screen and (min-width: 445px) and (max-width: 499px){

    .titulo.col-11{
        width: 91%;
    }
}

@media screen and (min-width: 400px) and (max-width: 444px){

    .titulo.col-11{
        width: 90%;
    }
}

@media screen and (min-width: 364px) and (max-width: 399px){

    .titulo.col-11{
        width: 89%;
    }
}

@media screen and (min-width: 334px) and (max-width: 363px){

    .titulo.col-11{
        width: 88%;
    }
}

@media screen and (min-width: 308px) and (max-width: 333px){

    .titulo.col-11{
        width: 87%;
    }
}

@media screen and (min-width: 286px) and (max-width: 307px){

    .titulo.col-11{
        width: 86%;
    }
}

@media screen and (max-width: 285px){

    .titulo.col-11{
        width: 85%;
    }
}

@media screen and (max-width: 1199px){

    .btn.btn-primary.principales{
        margin: 5%;
    }
}

@media screen and (min-width: 1200px){

    .btn.btn-primary.principales{
        margin: 2%;
    }
}

#cabecera > div.row {
    margin: 0;
}

.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
    height: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #04C5B3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}

@media (max-width: 768px) {
    /* Reversing the behavior of the sidebar:
       it'll be rotated vertically and off canvas by default,
       collapsing in on toggle button click with removal of
       the vertical rotation.   */
    #sidebar {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    /* Reversing the behavior of the bars:
       Removing the rotation from the first,
       last bars and reappear the second bar on default state,
       and giving them a vertical margin */
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}

#sidebar ul.components {
    padding: 0;
    margin: 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
    font-weight: bold;
}

#sidecar i {
    margin-left: 5%;
    margin-right: 5%;
}

#sidebar ul li a:hover {
    color: #04C5B3;
    background-color: white;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: white;
    background: #035D55;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #035D55;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    color: #04C5B3;
    background: white;
    border-color: white;
    border-style: solid;
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

#content{
    width: 100%;
}

a > i {
    margin-right: 2%;
}

