.btn.btn-primary.principales{
    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.btn.btn-primary.microfono{
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #0F27EE;
    border-color: #0F27EE;
}

.btn.btn-primary.altavoz{
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #673AB7;
    border-color: #673AB7;
}

.window{
    height: 100%;
}

.errorlist{
    color: red;
}

body.container{
    font-family: 'Comic Neue', cursive;
    height: 100%;
}

.container.basic{
    max-width: 100%;
    padding: 0;
}

h5.titulo {
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 1%;
}

#cabecera{
    background: #04C5B3;
    padding-bottom: 0.15%;
    padding-top: 0.15%;
    padding-left: 0.5%;
}

@media screen and (max-width: 1199px){

    .btn.btn-primary.principales{
        margin: 5%;
    }
}

@media screen and (min-width: 1200px){

    .btn.btn-primary.principales{
        margin: 2%;
    }
}

@media screen and (max-width: 799px){

    #cabecera_fila {
        margin: 1%;
    }
}

@media screen and (min-width: 800px){

    #cabecera_fila {
        margin: 0.5%;
    }
}


.wrapper {
    display: block;
}

#sidebar {
    width: 250px;
    background: #04C5B3;
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 9999;
    height: 100%;
}

#sidebar.active {
    left: 0;
}

.overlay {
    display: block;
    position: fixed;
    /* full screen */
    width: 100%;
    height: 100%%;
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    opacity: 0.5;
    /* transparent black */
    background: rgba(0, 0, 0, 0.2);
}

#sidebar ul.components {
    padding: 0;
    margin: 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#sidecar i {
    margin-left: 5%;
    margin-right: 5%;
}

#sidebar ul li a:hover {
    color: #04C5B3;
    background-color: white;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: white;
    background: #035D55;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #035D55;
}

#apertura_menu, #cierre_menu {
    color: #04C5B3;
    background: white;
    border-color: white;
    border-style: solid;
    flex: 0;
}

#apertura_menu span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#apertura_menu span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
#apertura_menu span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#apertura_menu.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

#content{
    width: 100%;
}

a > i {
    margin-right: 2%;
}

#titulo{

    text-align: center;
    font-weight: bold;
    color: #035D55;
}

.ratio-mio{
    position: relative;
}

.ratio-mio > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ratio-mio::before {
    display: block;
    padding-top: var(--bs-aspect-ratio);
    content: "";
}

