.btn.btn-primary.principales{
    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.btn.btn-primary.microfono{
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #0F27EE;
    border-color: #0F27EE;
}

.btn.btn-primary.altavoz{
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #673AB7;
    border-color: #673AB7;
}

.window{
    height: 100%;
}

.errorlist{
    color: red;
}

body.container{
    font-family: 'Comic Neue', cursive;
    height: 100%;
}

@media screen and (max-width: 1199px){

    .btn.btn-primary.principales{
        margin: 5%;
    }
}

@media screen and (min-width: 1200px){

    .btn.btn-primary.principales{
        margin: 2%;
    }
}

.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
    height: 100%;
    margin: 0%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #04C5B3;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

@media (max-width: 768px) {
    /* Reversing the behavior of the sidebar:
       it'll be rotated vertically and off canvas by default,
       collapsing in on toggle button click with removal of
       the vertical rotation.   */
    #sidebar {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    /* Reversing the behavior of the bars:
       Removing the rotation from the first,
       last bars and reappear the second bar on default state,
       and giving them a vertical margin */
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}

#sidebar ul.components {
    padding: 0;
    margin: 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
    font-weight: bold;
}

#sidecar i {
    margin-left: 5%;
    margin-right: 5%;
}

#sidebar ul li a:hover {
    color: #04C5B3;
    background-color: #white;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #white;
    background: #035D55;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #035D55;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #035D55;
    color: white;
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

.content{
    width: 100%;
}