.titulo-iniciosesion{
    color: #E91E63;
    font-weight: bold;
}

.boton-recuperarcontrasena{
    border-color: #03A9F4;
    background-color: #03A9F4;
}

@media screen and (min-width: 465px){

    .col-10.password_sesion{
        width: 75%;
    }
}

@media screen and (min-width: 396px) and (max-width: 464px){

    .col-10.password_sesion{
        width: 70%;
    }
}

@media screen and (max-width: 767px) and (min-width: 412px){

    .col-10.password_sesion{
        width: 66.66666667%;
    }
}

@media screen and (max-width: 412px) and (min-width: 373px){

    .col-10.password_sesion{
        width: 68%;
    }
}

@media screen and (max-width: 374px){

    .col-10.password_sesion{
        width: 65%;
    }
}

@media screen and (max-width: 767px){

    .col-10.email_sesion{
        width: 82%;
    }
}