.titulo-iniciosesion{
    color: #E91E63;
    font-weight: bold;
}

.boton-recuperarcontrasena{
    border-color: #03A9F4;
    background-color: #03A9F4;
}

@media screen and (min-width: 768px){

    .col-10.password_sesion{
        width: 75%;
    }
}

@media screen and (max-width: 768px) and (min-width: 412px){

    .col-10.password_sesion{
        width: 66.66666667%;
    }

    .col-10.email_sesion{
        width: 82%;
    }
}

@media screen and (max-width: 412px){

    .col-10.password_sesion{
        width: 65%;
    }
}