.aceptar{
    background-color: #429046;
    border-color: #429046;
}

.buscar{
    background-color: #04C5B3;
    border-color: #04C5B3;
}

.anadir-amigo{
    background-color: #8BC34A;
    border-color: #8BC34A;
}

@media screen and (min-width: 576px){
    #dialog-amigos{
        max-width: 50%;
    }
}

#dialog-amigos{
    height: 100%;
}

#dialog-amigos.titulo-modal{
    color: #26968B;
}