.aceptar{
    background-color: #429046;
    border-color: #429046;
}

.buscar{
    background-color: #04C5B3;
    border-color: #04C5B3;
}

.anadir-amigo, .anadir-participante{
    background-color: #8BC34A;
    border-color: #8BC34A;
}

@media screen and (min-width: 1024px){
    #dialog-amigos, #dialog-participantes{
        max-width: 50%;
    }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
    #dialog-amigos, #dialog-participantes{
        max-width: 90%;
    }
}

@media screen and (max-width: 768px){
    .nombre > h5{
        font-size: 1.15rem;
    }
}

#dialog-amigos, #dialog-participantes{
    height: 100%;
}

.titulo-modal{
    color: #26968B;
}

.amigos > div {
    border-bottom: 1px solid #dee2e6;
}

.seleccionado{
    background: #dee2e6;
}

.borrar-amigo{
    background: #F44336;
    border-color: #F44336;
}

.foto-perfil{
    margin-left: 1rem!important;
}

.botones{
    margin-left: 0.5rem!important;
}
