#general-tab, #tab-retos-content {
    background: #F7C985;
    border-color: #F7C985;
}

#etapas-tab {
    background: #CAE8A6;
    border-color: #CAE8A6;
}

#participantes-tab {
    background: #BBF1F7;
    border-color: #BBF1F7;
}

#animadores-tab {
    background: #F0CEF6;
    border-color: #F0CEF6;
}