#general-tab, #form-reto-content {
    background: #F7C985;
    border-color: #F7C985;
}

#etapas-tab {
    background: #CAE8A6;
    border-color: #CAE8A6;
}

#participantes-tab {
    background: #BBF1F7;
    border-color: #BBF1F7;
}

#animadores-tab {
    background: #F0CEF6;
    border-color: #F0CEF6;
}

.imagen{
    background: #3F51B5;
    border-color: #3F51B5;
}

.uploadaudio{
    background: #2196F3;
    border-color: #2196F3;
}

.video{
    background: #00BCD4;
    border-color: #00BCD4;
}

#boton-siguiente, #boton-anterior{
    background: #795548;
    border-color: #795548;
}

.uploadfile {
    opacity: 0;
    position: absolute;
    width: inherit;
}

.uploadfile + label {
    text-overflow: ellipsis;
    cursor: pointer;
    text-color: white;
}

label > i {
    font-size: x-large;
}