.perfil{
    background-color: #EEF8F9;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.titulo, .nombre > div, .email > div{
    color: #009688;
}

.modificar{
    background-color: #2196F3;
    border-color: #2196F3;
}

.cerrar_sesion{
    background-color: #FF9800;
    border-color: #FF9800;
}

.eliminar{
    background-color: #F44336;
    border-color: #F44336;
}

.categoria {
    font-size: xx-large;
}

.informacion>h5 {
    font-size: 1rem;
}

.informacion>h4 {
    font-size: 1.25rem;
}

.retos {
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (min-width: 992px){
    .retos {
        height: 25vh;
    }
}

@media screen and (min-width: 768px) and (max-width:992){
    .retos {
        height: 64vh;
    }
}

@media screen and (max-width: 768px){
    .retos {
        height: 47vh;
    }
}

.aceptar{
    background: #4CAF50;
    border: #4CAF50;
}