#registro{
    background-color: #E2EEF4;
    margin: 1.5%;
    padding: 5%;
}

#titulo-registro{
    color: #8DCB97;
    font-weight: bold;
    text-align: center;
}

#formulario-registro{
    padding-left:20%;
    padding-right:20%;
}

.form-label{
    font-weight: bold;
    font-size: 2%;
}

.form-group{
    margin-top: 5%;
}

#boton-registro{
    background: #8DCB97;
    border-color: #8DCB97;
}

#boton-iniciosesion{
    background: #E91E63;
    border-color: #E91E63;
}