#registro{
    background-color: #E2EEF4;
}

#titulo-registro{
    color: #8DCB97;
    text-align: center;
    padding-top: 2%;
}

#titulo-registro>h2{
    font-weight: bold;
}

#formulario-registro{
    padding-left:20%;
    padding-right:20%;
}

.form-group{
    margin-top: 2%;
    font-weight: bold;
}

#boton-registro{
    background: #8DCB97;
    border-color: #8DCB97;
}

#boton-iniciosesion{
    background: #E91E63;
    border-color: #E91E63;
    margin-bottom: 2%;
}

body.container {
    height: 100%;
}

#mostrar_ocultar_password{
    background-color: #FF9800
}