#boton-coordinador{
    border: #E91E63;
    background: #E91E63;
}

.calificacion{
    font-size: x-large;
    width: fit-content;
}

.calificacion > .list-group-item{
    border: 0;
}

#pruebas-tab, #info-content {
    background: #FFD8D6;
    border: #FFD8D6;
}
