#boton-coordinador{
    border: #E91E63;
    background: #E91E63;
}

.calificacion{
    font-size: x-large;
    width: fit-content;
}

.calificacion > .list-group-item{
    border: 0;
}

#pruebas-tab, .info-content {
    background: #FFD8D6;
    border: #FFD8D6;
}

#animos-tab {
    background: #DAFBF8;
    border: #DAFBF8;
}

#guardar-prueba, #guardar-animo {
    background: #93F297;
    border: #93F297;
}

@media screen and (max-height: 1024px) and (max-width: 1024px){
    #reto-content {
        max-height: 50vh;
    }
}

@media screen and (max-height: 1024px) and (min-width: 1024px) and (max-width: 1440px){
    #reto-content {
        max-height: 70vh;
    }
}

@media screen and (((min-height: 451px) and (min-width: 375px) and (max-width: 768px)) or ((min-height: 769px) and (max-height: 1441px))){
    #reto-content {
        max-height: 80vh;
    }
}


#reto-content {
    overflow-y: auto;
}

.prueba, .animo {
    background: white;
    border-radius: 0.25rem;
}