#dialog-participantes{
    heigh: 100%;
}

#boton-coordinador{
    border: #E91E63;
    background: #E91E63;
}

.calificacion{
    font-size: x-large;
    width: fit-content;
}

.calificacion > .list-group-item{
    border: 0;
}