#boton-coordinador{
    border: #E91E63;
    background: #E91E63;
}

.calificacion{
    font-size: x-large;
    width: fit-content;
}

.calificacion > .list-group-item{
    border: 0;
}

#pruebas-tab, .info-content {
    background: #FFD8D6;
    border: #FFD8D6;
}

#animos-tab {
    background: #DAFBF8;
    border: #DAFBF8;
}

#guardar-prueba, #guardar-animo {
    background: #93F297;
    border: #93F297;
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    #reto-content {
        max-height: 60vh;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
    #reto-content {
        max-height: 70vh;
    }
}

@media screen and ((max-width: 767px) or (min-width: 1281px) or ((min-width: 768px) and
(max-width: 1024px) and (orientation: portrait))){
    #reto-content {
        max-height: 80vh;
    }
}


#reto-content {
    overflow-y: auto;
}

.prueba, .animo {
    background: white;
    border-radius: 0.25rem;
}