<div class='row'>
    <h6 class="fw-bold col-md-2 align-self-center">
        <i class="fa-solid fa-flag-checkered"></i>
        Objetivo:
    </h6>
    {% if "mp3" in etapa.objetivo or "acc" in etapa.objetivo or "ogg" in etapa.objetivo or "wma" in etapa.objetivo %}
    <div class="col-md-4 col-12 mb-4 m-md-0 informacion">
    {% else %}
    <div class="col-md-9 col-12 mb-4 m-md-0 informacion">
    {% endif %}
    {% if "mp3" in etapa.objetivo or "acc" in etapa.objetivo or "ogg" in etapa.objetivo or "wma" in etapa.objetivo %}
        <audio controls id="audio"
            onplay="obtenerAudio('{{ etapa.objetivo }}', 'texto_audio_objetivo')">
            <source src="{{ etapa.objetivo }}" type="audio/mpeg">
        </audio>
    {% elif "jpg" in etapa.objetivo or "jpeg" in etapa.objetivo or "png" in etapa.objetivo or "svg" in etapa.objetivo or "gif" in etapa.objetivo %}
        <img class="imagen_reto img-fluid rounded col-md-6 mx-auto d-block
            col-xl-5" src="{{ etapa.objetivo }}">
    {% elif "mp4" in etapa.objetivo or "ogg" in etapa.objetivo %}
        <video class="imagen_reto img-fluid rounded col-md-6 mx-auto d-block
            col-xl-5" controls>
            <source src="{{ etapa.objetivo }}" type="video/mp4">
        </video>
    {% else %}
        <h6 class="texto_reto">
            {{ etapa.objetivo }}
        </h6>
    {% endif %}
    </div>
    {% if "mp3" in etapa.objetivo or "acc" in etapa.objetivo or "ogg" in etapa.objetivo or "wma" in etapa.objetivo %}
    <div class="col-md-8 align-self-center text-center overflow-auto audio">
        <p id="texto_audio_objetivo"></p>
    </div>
    {% else %}
    <div class="col-md-1 col align-self-center">
        {% include 'YoPuedo/elementos/altavoz.html' with elementSpeech=texto_reto %}
    </div>
    {% endif %}
</div>
<div class="row botones-etapa">
    {% if num_etapa != 1 %}
    <div class='d-flex justify-content-start mt-2 mt-sm-3 mt-lg-5 col'>
        <button id="boton-anterior" class="btn btn-primary fw-bold anterior"
                type="button"
                onclick="cambiarPestanaEtapa(getNumEtapa({{num_etapa}}, -1), 'etapa-content')">
            <i class="fa-solid fa-angle-left"></i>
            Anterior etapa
        </button>
    </div>
    {% endif %}

    {% if num_etapa != forloop.last %}
    <div class='d-flex justify-content-end mt-2 mt-sm-3 mt-lg-5 col'>
        <button id="boton-siguiente-etapa"
                class="btn btn-primary fw-bold siguiente"
                type="button"
                onclick="cambiarPestanaEtapa(getNumEtapa({{num_etapa}}, 1), 'etapa-content')">
            Siguiente etapa
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
    {% endif %}
</div>