{% load tags_categorias %}

<div class='row'>
    <h5 class="fw-bold col-md-2 align-self-center">
        <i class="fa-solid fa-flag-checkered"></i>
        Objetivo:
    </h5>
    {% if "mp3" in reto.objetivo or "acc" in reto.objetivo or "ogg" in reto.objetivo or "wma" in reto.objetivo %}
    <div class="col-md-4 mb-4 m-md-0 informacion align-self-center">
    {% else %}
    <div class="col-md-9 mb-4 m-md-0 informacion align-self-center">
    {% endif %}
    {% if "mp3" in reto.objetivo or "acc" in reto.objetivo or "ogg" in reto.objetivo or "wma" in reto.objetivo %}
        <audio controls id="audio"
            onplay="obtenerAudio('{{ reto.objetivo }}', 'texto_audio_objetivo')">
            <source src="{{ reto.objetivo }}" type="audio/mpeg">
        </audio>
    {% elif "jpg" in reto.objetivo or "jpeg" in reto.objetivo or "png" in reto.objetivo or "svg" in reto.objetivo or "gif" in reto.objetivo %}
        <img class="imagen_reto img-fluid rounded col-6 col-md-6 mx-auto d-block
            col-xl-3" src="{{ reto.objetivo }}">
    {% elif "mp4" in reto.objetivo or "ogg" in reto.objetivo %}
        <video class="imagen_reto img-fluid rounded col-6 col-md-6 mx-auto d-block
            col-xl-3" controls>
            <source src="{{ reto.objetivo }}" type="video/mp4">
        </video>
    {% else %}
        <h6 class="fw-bold" id="texto_reto">
            {{ reto.objetivo }}
        </h6>
    {% endif %}
    </div>
    {% if "mp3" in reto.objetivo or "acc" in reto.objetivo or "ogg" in reto.objetivo or "wma" in reto.objetivo %}
    <div class="col-md-8 align-self-center text-center overflow-auto audio">
        <p id="texto_audio_objetivo"></p>
    </div>
    {% elif not '/media/' in reto.objetivo %}
    <div class="col-md-1 col d-flex justify-content-center">
        {% include 'YoPuedo/elementos/altavoz.html' with elementSpeech='texto_reto' %}
    </div>
    {% endif %}
</div>

<div class='mt-4 row categoria'>
    <h5 class="col-md-2 col-sm-4 align-self-center fw-bold">
        <i class="fa-solid fa-square-check"></i>
        Categoría:
    </h5>
    <h6 class="col fw-bolder align-self-center">
        {% if reto.categoria == 'economia' %}
        <i class="fa-solid fa-piggy-bank"></i>
        {% elif reto.categoria == 'inteligencia' %}
        <i class="fa-solid fa-brain"></i>
        {% elif reto.categoria == 'salud' %}
        <i class="fa-solid fa-dumbbell"></i>
        {% elif reto.categoria == 'mente' %}
        <i class="fa-solid fa-face-frown"></i>
        {% endif %}
        {% valor_categoria reto.categoria %}
    </h6>
</div>

<div class='fw-bold mt-4 row'>
    <h5 class="fw-bold col-md-2 align-self-center">
        <i class="fa-solid fa-trophy"></i>
        Recompensa:
    </h5>
    {% if "mp3" in reto.recompensa or "acc" in reto.recompensa or "ogg" in reto.recompensa or "wma" in reto.recompensa %}
    <div class="col-md-4 col-12 mb-4 m-md-0 informacion align-self-center">
    {% else %}
    <div class="col-md-9 col-12 mb-4 m-md-0 informacion align-self-center">
    {% endif %}
      {% if "mp3" in reto.recompensa or "acc" in reto.recompensa or "ogg" in reto.recompensa or "wma" in reto.recompensa %}
      <audio controls id="audio"
             onplay="obtenerAudio('{{ reto.recompensa }}', 'texto_audio_recompensa')">
        <source src="{{ reto.recompensa }}" type="audio/mpeg">
      </audio>
      {% elif "jpg" in reto.recompensa or "jpeg" in reto.recompensa or "png" in reto.recompensa or "svg" in reto.recompensa or "gif" in reto.recompensa %}
        <img class="imagen_reto img-fluid rounded col-6 col-md-6 mx-auto d-block
            col-xl-3" src="{{ reto.recompensa }}">
      {% elif "mp4" in reto.recompensa or "ogg" in reto.recompensa %}
      <video class="imagen_reto img-fluid rounded col-6 col-md-6 mx-auto d-block
            col-xl-3" controls>
          <source src="{{ reto.recompensa }}" type="video/mp4">
      </video>
      {% else %}
      <h6 class="fw-bold" id="texto_recompensa">
          {{ reto.recompensa }}
      </h6>
      {% endif %}
    </div>
    {% if "mp3" in reto.recompensa or "acc" in reto.recompensa or "ogg" in reto.recompensa or "wma" in reto.recompensa %}
    <div class="col-md-8 align-self-center overflow-auto audio">
      <p id="texto_audio_recompensa"></p>
    </div>
    {% elif not '/media/' in reto.recompensa %}
    <div class="col-md-1 col d-flex justify-content-center">
      {% include 'YoPuedo/elementos/altavoz.html' with elementSpeech='texto_recompensa' %}
    </div>
    {% endif %}
</div>

<!-- BOTONES FINALES DE EDICIÓN Y VISUALIZACIÓN DEL RESTO DEL RETO -->
<div class="row">
    {% if reto.coordinador.email == user.get_username %}
        {% if reto.estado == 'Propuesto' %}
        <div class="col d-flex justify-content-start mt-2 mt-sm-3 mt-lg-5">
            <button id="boton-editar" class="btn btn-primary fw-bold" type="button"
                    onclick="editarReto()">
                <i class="fa-solid fa-pen-to-square"></i>
                Editar
            </button>
        </div>
        {% endif %}
        {% if participantes %}
        <div class="col d-flex {% if reto.estado != 'Propuesto' %} justify-content-center {% else %} justify-content-start {% endif %} mt-2 mt-sm-3 mt-lg-5">
            <button id="boton-coordinador" class="btn btn-primary fw-bold" type="button"
                    hx-target="#dialog-participantes"
                    hx-get="{% url 'coordinador_reto' id_reto=reto.id_reto %}">
                <i class="fa-solid fa-user"></i>
                Coordinador
            </button>
        </div>
        {% endif %}
    <div class="col d-flex {% if reto.estado != 'Propuesto' and not participantes %} justify-content-start {% else %} justify-content-end {% endif %} mt-2 mt-sm-3 mt-lg-5">
        <button id="boton-eliminar" class="btn btn-primary fw-bold borrar" type="button"
                onclick="eliminarReto()">
            <i class="fa-sharp fa-solid fa-trash"></i>
            Eliminar
        </button>
    </div>
    {% elif anima %}
    <div class="col d-flex justify-content-center mt-2 mt-sm-3 mt-lg-5">
        <button id="boton-animador" class="btn btn-primary fw-bold borrar"
                type="button"
                onclick="dejarAnimarReto()">
            <i class="fa-sharp fa-solid fa-trash"></i>
            Dejar de animar
        </button>
    </div>
    {% endif %}
    <div class='col d-flex justify-content-end mt-2 mt-sm-3 mt-lg-5'>
        <button id="boton-siguiente" class="btn btn-primary fw-bold" type="button"
                onclick="cambiarPestana('etapas', 'reto-content')">
            Siguiente
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
</div>
