{% load static tags_registro %}
<form class="form modal-content" hx-post="{{ request.path }}" enctype="multipart/form-data">
  <div class="modal-header">
        <h5 class="modal-title titulo-iniciosesion">Editar perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {% csrf_token %}
    {% for field in editar_form %}
    <div class='form-group {% if field.errors %} errorlist {% endif %}'>
      {% if field.name != "email" %}
      {% if "password" in field.name %}
        <i class="bi bi-key-fill"></i>
      {% elif field.name == "nombre" %}
        <i class="bi bi-person-fill"></i>
      {% else %}
        <i class="bi bi-file-person-fill"></i>
      {% endif %}

      {{ field.label }}

      <div class="container inputs">
        <div class="row align-items-center">
          <div class="col-10 {{field.name}}">
            {{ field }}
          </div>
          {% if field.name != "foto_de_perfil"%}
          <div class="col">
            {% if "password" in field.name %}
              <button class="btn btn-primary mostrar_ocultar_password"
                    onclick="cambiarVisibilidad('imagenes_{{ field.name }}')">
                <i class="bi bi-card-image"></i>
              </button>
            {% endif %}
            {% include 'YoPuedo/elementos/microfono.html' with elementRecognition=field.id_for_label %}
          </div>
          {% endif %}
        </div>
      </div>

      {% if "password" in field.name %}
        {% include 'YoPuedo/elementos/password.html'%}
      {% endif %}

      {% for error in field.errors%}
      <div class="errorlist">
        <i class="bi bi-x-circle-fill"></i>
        {{ error }}
      </div>
      {% endfor %}

      {% else %}
      {{ field }}
      {% endif %}

    </div>
    {% endfor %}
  </div>
  <div class="modal-footer justify-content-center">
    <button type="submit" id="boton-iniciosesion" class="btn btn-primary fw-bold">
      <i class="fa-solid fa-floppy-disk"></i>
      Guardar
    </button>
  </div>
</form>
<script type="text/javascript" src="{% static 'YoPuedo/js/Password.js' %}"></script>
<script type="text/javascript"
        src="{% static 'YoPuedo/js/SpeechRecognition.js' %}"></script>