<form class="form modal-content" hx-post="{% url 'iniciar_sesion' %}">
  <div class="modal-header">
    <div class="modal-title" id="iniciar_sesion_label">
      <h5>Iniciar sesión</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body">
        {% csrf_token %}
        {% for field in inicio_form %}
        <div class='form-group {% if field.errors %} errorlist {% endif %}'>
          {% if field.name == "email" %}
            <i class="bi bi-envelope-fill"></i>
          {% else %}
            <i class="bi bi-key-fill"></i>
          {% endif %}

          {{ field.label }}

          <div class="container inputs">
            <div class="row align-items-center">
              <div class="col-10 {{field.name}}">
                {{ field }}
              </div>
              {% if field.name != "foto_de_perfil"%}
                <div class="col">
                  {% if field.name == "password_sesion" %}
                    <button class="btn btn-primary mostrar_ocultar_password"
                          onclick="cambiarVisibilidad('imagenes_{{ field.name }}')">
                      <i class="bi bi-card-image"></i>
                    </button>
                  {% endif %}
                  {% include 'YoPuedo/microfono.html' %}
                </div>
              {% endif %}
            </div>
          </div>

          {% if field.name == "password_sesion"%}
            {% include 'YoPuedo/password.html'%}
          {% endif %}

          {% for error in field.errors%}
          <div class="errorlist">
            <i class="bi bi-x-circle-fill"></i>
            {{ error }}
          </div>
          {% endfor %}

        </div>
        {% endfor %}
  </div>
  <div class="modal-footer">
    <button type="submit" id="boton-iniciosesion" class="btn btn-primary principales">
      <i class="bi bi-box-arrow-in-right"></i>
      INICIAR SESIÓN
    </button>
  </div>
</form>

<script>
  ;(function () {
  const modal = new bootstrap.Modal(document.getElementById("iniciar_sesion"))

  htmx.on("htmx:afterSwap", (e) => {
    // Response targeting #dialog => show the modal
    if (e.detail.target.id == "dialog") {
      modal.show()
    }
  })

  htmx.on("htmx:beforeSwap", (e) => {
    // Empty response targeting #dialog => hide the modal
    if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
      modal.hide()
      e.detail.shouldSwap = false
    }
  })

  // Remove dialog content after hiding
  htmx.on("hidden.bs.modal", () => {
    document.getElementById("dialog").innerHTML = ""
  })
})()
</script>