{% extends "base.html" %}

{% load static tags_categorias %}

{% block static %}
  <link rel="stylesheet" href="{% static 'YoPuedo/css/mis_retos.css'%}">
  <link rel="stylesheet" href="{% static 'YoPuedo/css/modal-retos.css'%}">
  <script type="text/javascript"
        src="{% static 'YoPuedo/js/SpeechSynthesis.js' %}"></script>
  <script src="https://kit.fontawesome.com/05cfaef439.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
{% endblock %}

{% block contenido %}
    <!-- CABECERA -->
    <section>
        <h4 id="titulo">
            <i class="bi bi-graph-up"></i>
            Mis retos {{ tipo_reto }}
        </h4>
    </section>

    <!-- BOTONES CABECERA -->
    <section class="row justify-content-between" id="botones_misretos">
        <div class="col-2 align-items-start">
            <button class="btn btn-primary nuevo_reto">
                <div class="row">
                    <div class="col-2">
                        <i class="bi bi-plus-circle-fill "></i>
                    </div>
                    <div class="d-none d-md-block col-9">
                        Nuevo reto
                    </div>
                </div>
            </button>
        </div>
        <div class="col-md-3 col-10 align-items-end row">
            <div class="col" id="label_categoria">
                <h6>
                    <div class="row">
                        <div class="col-2">
                            <i class="bi bi-search"></i>
                        </div>
                        <div class="d-none d-md-block col-9">
                            Filtrar por:
                        </div>
                    </div>
                </h6>
            </div>
            <select class="col-10 col-md-7" aria-label="select_categoria"
                    id="categorias" onchange="cambioCategoria(this)">
              <option selected value="{% categoria_valor 'Todas categorias' %}">
                  Todas categorías
              </option>
              <option value="{% categoria_valor 'Ahorro' %}">
                  Ahorro
              </option>
              <option value="{% categoria_valor 'Conocimientos' %}">
                  Conocimientos
              </option>
              <option value="{% categoria_valor 'Deporte' %}">
                  Deporte
              </option>
              <option value="{% categoria_valor 'Miedos' %}">
                  Miedos
              </option>
            </select>
        </div>
    </section>

    <!-- CUERPO -->
    <section id="retos">

        <!-- BOTONES NAVEGACIÓN TABS -->
        <ul class="nav nav-tabs" id="tab-estados" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="propuestos-tab"
                    data-bs-toggle="tab" data-bs-target="#propuestos" type="button"
                    role="tab" aria-controls="propuestos" aria-selected="true"
                    onclick="cambiarColorCuerpo('propuestos')">
                <div class="row">
                    <div class="col-2">
                        <i class="bi bi-inboxes-fill"></i>
                    </div>
                    <div class="d-none d-md-block col-10">
                        <h5>Propuestos</h5>
                    </div>
                </div>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="proceso-tab" data-bs-toggle="tab"
                    data-bs-target="#proceso" type="button" role="tab"
                    aria-controls="proceso" aria-selected="false"
                    onclick="cambiarColorCuerpo('proceso')">
                <div class="row">
                    <div class="col-2">
                        <i class="bi bi-gear-wide-connected"></i>
                    </div>
                    <div class="d-none d-md-block col-10">
                        <h5>En proceso</h5>
                    </div>
                </div>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="finalizados-tab" data-bs-toggle="tab"
                    data-bs-target="#finalizados" type="button" role="tab"
                    aria-controls="finalizados" aria-selected="false"
                    onclick="cambiarColorCuerpo('finalizados')">
                <div class="row">
                    <div class="col-2">
                        <i class="bi bi-check2-square"></i>
                    </div>
                    <div class="d-none d-md-block col-10">
                        <h5>Finalizados</h5>
                    </div>
                </div>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="animando-tab" data-bs-toggle="tab"
                    data-bs-target="#animando" type="button" role="tab"
                    aria-controls="animando" aria-selected="false"
                    onclick="cambiarColorCuerpo('animando')">
                <div class="row">
                    <div class="col-2">
                        <i class="bi bi-hearts"></i>
                    </div>
                    <div class="d-none d-md-block col-10">
                        <h5>Animando</h5>
                    </div>
                </div>
            </button>
          </li>
        </ul>

        <!-- CUERPO DE LOS TABS -->
        <div class="tab-content p-3" id="tab-retos-content">
          <div class="tab-pane fade show active" id="propuestos" role="tabpanel"
               aria-labelledby="propuestos-tab">
            <div class="row justify-content-between border-bottom border-dark pt-md-3 pb-md-3 pt-4 pb-4">
                <div class="col text-center align-self-center categoria">
                    <i class="fa-solid fa-piggy-bank"></i>
                    <h5 class="fw-bolder">Ahorro</h5>
                </div>
                <div class="col-md-10 col-8 row justify-content-between objetivo">
                    <div class="col-md-10 col-12 mb-4 m-md-0 informacion">
                        <h4 class="titulo_reto fw-bolder"> Título </h4>
                        <h5 class="texto_reto">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            In fringilla, erat ut molestie aliquet, elit dui porttitor
                            tellus, eget ultrices tortor urna eget arcu. Suspendisse
                            volutpat ligula eu lorem sagittis, id pretium nibh dictum.
                        </h5>
                    </div>
                    <div class="col align-self-center text-center">
                        {% include 'YoPuedo/elementos/altavoz.html' with elementSpeech='texto_reto' %}
                    </div>
                </div>
                <div class="col text-center align-self-center ver-reto">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>

            <div class="row justify-content-between border-bottom border-dark pt-md-3 pb-md-3 pt-4 pb-4">
              <div class="col text-center align-self-center categoria">
                  <i class="fa-solid fa-piggy-bank"></i>
                  <h5 class="fw-bolder">Ahorro</h5>
              </div>
              <div class="col-md-10 col-8 row justify-content-between objetivo">
                  <div class="col-md-10 col-12 mb-4 m-md-0 informacion">
                      <h4 class="titulo_reto fw-bolder" id="titulo_imagen"> Título </h4>
                      <img class="imagen_reto img-fluid rounded col-md-6 mx-auto d-block
                      col-xl-5" src="/media/YoPuedo/foto_perfil/mariajesus@gmail.com.jpg">
                  </div>
                  <div class="col align-self-center text-center">
                      {% include 'YoPuedo/elementos/altavoz.html' with elementSpeech='titulo_imagen' %}
                  </div>
              </div>
              <div class="col text-center align-self-center ver-reto">
                  <i class="fa-solid fa-angle-right"></i>
              </div>
            </div>

            <div class="row justify-content-between border-bottom border-dark pt-md-3 pb-md-3 pt-4 pb-4">
              <div class="col text-center align-self-center categoria">
                  <i class="fa-solid fa-piggy-bank"></i>
                  <h5 class="fw-bolder">Ahorro</h5>
              </div>
              <div class="col-md-10 col-8 row justify-content-between objetivo">
                  <div class="col-md-10 col-12 mb-4 m-md-0 informacion">
                      <h4 class="titulo_reto fw-bolder"> Título </h4>
                      <audio controls id="audio"
                             onplay="obtenerAudio('media/YoPuedo/audio-ejemplo.mp3', 'texto_audio')">
                        <source src="/media/YoPuedo/audio-ejemplo.mp3" type="audio/mpeg">
                      </audio>
                  </div>
                  <div class="col align-self-center text-center">
                      <h6 id="texto_audio">

                      </h6>
                  </div>
              </div>
              <div class="col text-center align-self-center ver-reto">
                  <i class="fa-solid fa-angle-right"></i>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="proceso" role="tabpanel"
               aria-labelledby="proceso-tab">
            Tab 2 content
              {% if tipo_reto %} {{ tipo_reto }} {% endif %}
              {% if categoria %} {{ categoria }} {% endif %}
          </div>
          <div class="tab-pane fade" id="finalizados" role="tabpanel"
               aria-labelledby="finalizados-tab">
            Tab 3 content
              {% if tipo_reto %} {{ tipo_reto }} {% endif %}
              {% if categoria %} {{ categoria }} {% endif %}
          </div>
          <div class="tab-pane fade" id="animando" role="tabpanel"
               aria-labelledby="animando-tab">
            Tab 4 content
              {% if tipo_reto %} {{ tipo_reto }} {% endif %}
              {% if categoria %} {{ categoria }} {% endif %}
          </div>

          <div class="m-3" id="paginador">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
          </div>

        </div>
    </section>
<script>
    function cambiarColorCuerpo(id){
        switch(id){
            case "propuestos":
                document.getElementById("tab-retos-content").style.backgroundColor = "#FBF3AD";
                document.getElementById("tab-retos-content").style.borderColor = "#FBF3AD";
            break;
            case "proceso":
                document.getElementById("tab-retos-content").style.backgroundColor = "#FBC370";
                document.getElementById("tab-retos-content").style.borderColor = "#FBC370";
            break;
            case "finalizados":
                document.getElementById("tab-retos-content").style.backgroundColor = "#B6FF61";
                document.getElementById("tab-retos-content").style.borderColor = "#B6FF61";
            break;
            case "animando":
                document.getElementById("tab-retos-content").style.backgroundColor = "#ECABF7";
                document.getElementById("tab-retos-content").style.borderColor = "#ECABF7";
            break;
        }
    }

    function cambioCategoria(opcion){
        const urlParams = new URLSearchParams(window.location.search);
        window.location.href = "{% url 'mis_retos' %}?tipo=" +
            urlParams.get('tipo') + "&categoria=" + opcion.value;
    }

    window.onload = () => {
        const urlParams = new URLSearchParams(window.location.search);

        if(urlParams.has('categoria')){
            const select = document.querySelector('#categorias');
            select.value = urlParams.get('categoria');
        }
    }
</script>
<script type="text/javascript"
        src="{% static 'YoPuedo/js/AudioTranscript.js' %}"></script>
{% endblock %}

{% block modales %}
    <!-- MODAL DEL TIPO DE RETOS-->
    <div class="modal fade" id="modal">
      <div class="modal-dialog row align-items-center" id="dialog">
          {% include 'YoPuedo/elementos/modal-retos.html' %}
      </div>
    </div>

    {% if request.get_full_path == "/mis_retos/" %}
      <script>
            window.onload = () => {
                $('#modal').modal('show');
            }
      </script>
    {% endif %}
{% endblock %}