{% extends "base.html" %}

{% load static tags_categorias %}

{% block static %}
  <link rel="stylesheet" href="{% static 'YoPuedo/css/mis_retos.css'%}">
  <link rel="stylesheet" href="{% static 'YoPuedo/css/modal-retos.css'%}">
{% endblock %}

{% block contenido %}
    <!-- CABECERA -->
    <section>
        <h4 id="titulo">
            <i class="bi bi-graph-up"></i>
            Mis retos
        </h4>
    </section>

    <!-- BOTONES CABECERA -->
    <section class="row justify-content-between" id="botones_misretos">
        <div class="col-2 align-items-start">
            <button class="btn btn-primary nuevo_reto">
                <div class="row">
                    <div class="col-2">
                        <i class="bi bi-plus-circle-fill "></i>
                    </div>
                    <div class="d-none d-md-block col-9">
                        Nuevo reto
                    </div>
                </div>
            </button>
        </div>
        <div class="col-md-3 col-10 align-items-end row">
            <div class="col" id="label_categoria">
                <h6>
                    <div class="row">
                        <div class="col-2">
                            <i class="bi bi-search"></i>
                        </div>
                        <div class="d-none d-md-block col-9">
                            Filtrar por:
                        </div>
                    </div>
                </h6>
            </div>
            <select class="col-10 col-md-7" aria-label="select_categoria" id="categorias">
              <option selected>
                  <a href="{{ request.get_full_path }}&categoria={% categoria_valor 'Todas categorias' %}">
                      Todas categorías
                  </a>
              </option>

              <option>
                  <a href="{{ request.get_full_path }}&categoria={% categoria_valor 'Ahorro' %}">
                      Ahorro
                  </a>
              </option>

              <option>
                  <a href="{{ request.get_full_path }}&categoria={% categoria_valor 'Conocimientos' %}">
                      Conocimientos
                  </a>
              </option>

              <option>
                  <a href="{{ request.get_full_path }}&categoria={% categoria_valor 'Deporte' %}">
                      Deporte
                  </a>
              </option>
              <option>
                  <a href="{{ request.get_full_path }}&categoria={% categoria_valor 'Miedos' %}">
                      Miedos
                  </a>
              </option>
            </select>
        </div>
    </section>

    <!-- CUERPO -->
    <section id="retos">

        <!-- BOTONES NAVEGACIÓN TABS -->
        <ul class="nav nav-tabs" id="tab-estados" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="propuestos-tab"
                    data-bs-toggle="tab" data-bs-target="#propuestos" type="button"
                    role="tab" aria-controls="propuestos" aria-selected="true"
                    onclick="cambiarColorCuerpo('propuestos')">
                <div class="row">
                    <div class="col-2">
                        <i class="bi bi-inboxes-fill"></i>
                    </div>
                    <div class="d-none d-md-block col-9">
                        Propuestos
                    </div>
                </div>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="proceso-tab" data-bs-toggle="tab"
                    data-bs-target="#proceso" type="button" role="tab"
                    aria-controls="proceso" aria-selected="false"
                    onclick="cambiarColorCuerpo('proceso')">
                <div class="row">
                    <div class="col-2">
                        <i class="bi bi-gear-wide-connected"></i>
                    </div>
                    <div class="d-none d-md-block col-9">
                        En proceso
                    </div>
                </div>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="finalizados-tab" data-bs-toggle="tab"
                    data-bs-target="#finalizados" type="button" role="tab"
                    aria-controls="finalizados" aria-selected="false"
                    onclick="cambiarColorCuerpo('finalizados')">
                <div class="row">
                    <div class="col-2">
                        <i class="bi bi-check2-square"></i>
                    </div>
                    <div class="d-none d-md-block col-9">
                        Finalizados
                    </div>
                </div>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="animando-tab" data-bs-toggle="tab"
                    data-bs-target="#animando" type="button" role="tab"
                    aria-controls="animando" aria-selected="false"
                    onclick="cambiarColorCuerpo('animando')">
                <div class="row">
                    <div class="col-2">
                        <i class="bi bi-hearts"></i>
                    </div>
                    <div class="d-none d-md-block col-9">
                        Animando
                    </div>
                </div>
            </button>
          </li>
        </ul>

        <!-- CUERPO DE LOS TABS -->
        <div class="tab-content p-3" id="tab-retos-content">
          <div class="tab-pane fade show active" id="propuestos" role="tabpanel"
               aria-labelledby="propuestos-tab">
            Tab 1 content
              {% if tipo_reto %} {{ tipo_reto }} {% endif %}
              {% if categoria %} {{ categoria }} {% endif %}
          </div>
          <div class="tab-pane fade" id="proceso" role="tabpanel"
               aria-labelledby="proceso-tab">
            Tab 2 content
              {% if tipo_reto %} {{ tipo_reto }} {% endif %}
              {% if categoria %} {{ categoria }} {% endif %}
          </div>
          <div class="tab-pane fade" id="finalizados" role="tabpanel"
               aria-labelledby="finalizados-tab">
            Tab 3 content
              {% if tipo_reto %} {{ tipo_reto }} {% endif %}
              {% if categoria %} {{ categoria }} {% endif %}
          </div>
          <div class="tab-pane fade" id="animando" role="tabpanel"
               aria-labelledby="animando-tab">
            Tab 4 content
              {% if tipo_reto %} {{ tipo_reto }} {% endif %}
              {% if categoria %} {{ categoria }} {% endif %}
          </div>
        </div>

        <div class="m-3" id="paginador">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
        </div>
    </section>
<script>
    function cambiarColorCuerpo(id){
        switch(id){
            case "propuestos":
                document.getElementById("#tab-retos-content").style.background = "#FBF3AD";
                document.getElementById("#tab-retos-content").style.border = "#FBF3AD";
            break;
            case "proceso":
                document.getElementById("#tab-retos-content").style.background = "#FBC370";
                document.getElementById("#tab-retos-content").style.border = "#FBC370";
            break;
            case "finalizados":
                document.getElementById("#tab-retos-content").style.background = "#B6FF61";
                document.getElementById("#tab-retos-content").style.border = "#B6FF61";
            break;
            case "animando":
                document.getElementById("#tab-retos-content").style.background = "#ECABF7";
                document.getElementById("#tab-retos-content").style.border = "#ECABF7";
            break;
        }
    }

</script>
{% endblock %}

{% block modales %}
    <!-- MODAL DEL TIPO DE RETOS-->
    <div class="modal fade" id="modal">
      <div class="modal-dialog row align-items-center" id="dialog">
          {% include 'YoPuedo/elementos/modal-retos.html' %}
      </div>
    </div>

    {% if request.get_full_path == "/mis_retos/" %}
      <script>
            window.onload = () => {
                $('#modal').modal('show');
            }
      </script>
    {% endif %}
{% endblock %}