{% extends "base.html" %}

{% load static %}

{% block static %}
  <link rel="stylesheet" href="{% static 'YoPuedo/css/mis_retos.css'%}">
  <link rel="stylesheet" href="{% static 'YoPuedo/css/notificaciones.css'%}">
  <script type="text/javascript"
        src="{% static 'YoPuedo/js/SpeechSynthesis.js' %}"></script>
  <script src="https://kit.fontawesome.com/05cfaef439.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
{% endblock %}

{% block contenido %}
    <!-- CABECERA -->
    <section>
        <h4 id="titulo" class="m-2 m-md-3 m-lg-4">
            <i class="bi bi-bell-fill"></i>
            Notificaciones
        </h4>
    </section>

    <!-- BOTONES CABECERA -->
    <section class="row">
    {% for notificacion in notificaciones %}
      <div class="row border-bottom border-dark m-md-3 m-2">
          <div class="col-2 col-md-1 align-self-center text-center categoria
                {{ notificacion.categoria }}">
              {% if notificacion.categoria == 'Reto' %}
              <i class="bi bi-graph-up"></i>
              {% elif notificacion.categoria == 'Ánimo' %}
              <i class="fa-solid fa-envelope"></i>
              {% elif notificacion.categoria == 'Amistad' %}
              <i class="fa-solid fa-user-plus"></i>
              {% endif %}
          </div>
          <div class="col-9 col-md-10 row notificacion">
              <div class="col-md-11 col-12 mb-4 m-md-0 informacion align-self-center">
                  <h6 class="texto_notificacion fw-bold"
                      id="notificacion_{{forloop.counter}}">
                      {{ notificacion.mensaje }}
                  </h6>
              </div>
              <div class="col-md-1 col align-self-center text-center">
                  {% with forloop.counter|stringformat:"s" as numero %}
                      {% with "notificacion_"|add:numero as texto_notificacion %}
                      {% include 'YoPuedo/elementos/altavoz.html' with elementSpeech=texto_notificacion %}
                      {% endwith %}
                  {% endwith %}
              </div>
          </div>
          <button class="btn col-1 text-center align-self-center ver-notificacion d-flex
                justify-content-end p-0 px-md-2 px-xxl-5 px-lg-4"
               onclick="irNotificacion('{{ notificacion.id_notificacion }}')">
              <i class="fa-solid fa-angle-right"></i>
          </button>
      </div>
    {% endfor %}
        <div class="m-3" id="paginador">
          <nav>
            <ul class="pagination justify-content-center">
              {% if notificaciones.has_previous %}
                <li page-item>
                    <a class="page-link"
                       onclick="urlPagina('page={{ notificaciones.previous_page_number }}')">
                        &laquo;
                    </a>
                </li>
              {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
              {% endif %}
              {% for i in notificaciones.paginator.page_range %}
                {% if notificaciones.number == i %}
                  <li class="page-item active">
                      <span class="page-link">
                          {{ i }}
                          <span class="sr-only">(Actual)</span>
                      </span>
                  </li>
                {% else %}
                  <li class="page-item">
                      <a class="page-link"
                       onclick="urlPagina('page={{ i }}')">
                          {{ i }}
                      </a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if notificaciones.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       onclick="urlPagina('page={{ notificaciones.next_page_number }}')">
                        &raquo;
                    </a>
                </li>
              {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
    </section>
<script>
/****************************************************************************************/

    // Función para cambiar de página de notificaciones
    function urlPagina(pagina){
        enlace = "{% url 'notificaciones' %}" +  pagina;
        htmx.ajax('GET', enlace)
    }

/****************************************************************************************/

    // Función para redirigir al enlace dado
    function irNotificacion(id){
        window.location.href = "{% url 'notificacion' id_notificacion='123' %}".
            replace("123", id);
    }

/****************************************************************************************/
</script>

{% endblock %}