{% extends "base.html" %}

{% load static %}

{% block static %}
  <link rel="stylesheet" href="{% static 'YoPuedo/css/nuevo_reto.css'%}">
  <link rel="stylesheet" href="{% static 'YoPuedo/css/mis_retos.css'%}">
  <link rel="stylesheet" href="{% static 'YoPuedo/css/modal-retos.css'%}">
  <link rel="stylesheet" href="{% static 'YoPuedo/css/modal-amigos.css'%}">
  <script src="https://kit.fontawesome.com/05cfaef439.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
{% endblock %}

{% block contenido %}
  <!-- CABECERA -->
  <section>
      <h4 id="titulo" class="m-2 m-md-3 m-lg-4">
        {% if tipo_reto == "individual" %}
          <i class="bi bi-person-fill"></i>
        {% else %}
          <i class="bi bi-people-fill"></i>
        {% endif %}
          Nuevo reto {% if tipo_reto %}{{ tipo_reto }}{% endif %}
      </h4>
  </section>

  <section id="formulario_reto" class="m-1">
    <!-- BOTONES NAVEGACIÓN TABS -->
    <ul class="nav nav-tabs" id="tab-pasos" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="general-tab"
          data-bs-toggle="tab" data-bs-target="#general" type="button"
          role="tab" aria-controls="general" aria-selected="true"
          onclick="cambiarColorCuerpo('general')">
          <div class="row">
            <div class="col-2">
              <i class="fa-solid fa-clipboard"></i>
            </div>
            <div class="d-none d-md-block col-9">
              <h5>General</h5>
            </div>
          </div>
        </button>
      </li>

      <li class="nav-item" role="presentation">
        <button class="nav-link d-none" id="etapas-tab" data-bs-toggle="tab"
          data-bs-target="#etapas" type="button" role="tab"
          aria-controls="etapas" aria-selected="false"
          onclick="cambiarColorCuerpo('etapas')">
          <div class="row">
            <div class="col-2">
              <i class="fa-solid fa-chart-simple"></i>
            </div>
            <div class="d-none d-md-block col-9">
              <h5>Etapas</h5>
            </div>
          </div>
        </button>
      </li>

      {% if tipo_reto == "colectivo" %}
      <li class="nav-item" role="presentation">
        <button class="nav-link d-none" id="participantes-tab" data-bs-toggle="tab"
          data-bs-target="#participantes" type="button" role="tab"
          aria-controls="participantes" aria-selected="false"
          onclick="cambiarColorCuerpo('participantes')">
          <div class="row">
            <div class="col-2">
              <i class="fa-solid fa-people-group"></i>
            </div>
            <div class="d-none d-md-block col-10">
              <h5>Participantes</h5>
            </div>
          </div>
        </button>
      </li>
      {% endif %}

      <li class="nav-item" role="presentation">
        <button class="nav-link d-none" id="animadores-tab" data-bs-toggle="tab"
          data-bs-target="#animadores" type="button" role="tab"
          aria-controls="animadores" aria-selected="false"
          onclick="cambiarColorCuerpo('animadores')">
          <div class="row">
            <div class="col-2">
              <i class="fa-sharp fa-solid fa-hand-holding-hand"></i>
            </div>
            <div class="d-none d-md-block col-10">
              <h5>Animadores</h5>
            </div>
          </div>
        </button>
      </li>
    </ul>

    <!-- CUERPO DE LOS TABS -->
    <form class="form tab-content p-3" method="post"
          action="{% url 'nuevo_reto' %}?tipo={{ tipo_reto }}"
          enctype="multipart/form-data" id="form-reto-content">
      {% csrf_token %}
      <div class="tab-pane fade show active" id="general" role="tabpanel"
        aria-labelledby="general-tab">
        {% include 'YoPuedo/formulario_reto/general.html'%}
      </div>

      <div class="tab-pane fade" id="etapas" role="tabpanel"
        aria-labelledby="etapas-tab">
        {% include 'YoPuedo/formulario_reto/etapas.html'%}
      </div>

      {% if tipo_reto == "colectivos" %}
      <div class="tab-pane fade" id="participantes" role="tabpanel"
        aria-labelledby="participantes-tab">
      </div>
      {% endif %}

      <div class="tab-pane fade" id="animadores" role="tabpanel"
        aria-labelledby="animadores-tab">
        {% include 'YoPuedo/formulario_reto/animadores.html'%}
      </div>
    </form>
  </section>

<script>
    function cambiarColorCuerpo(id){
        switch(id){
            case "general":
                document.getElementById("form-reto-content").style.backgroundColor = "#F7C985";
                document.getElementById("form-reto-content").style.borderColor = "#F7C985";
            break;
            case "etapas":
                document.getElementById("form-reto-content").style.backgroundColor = "#CAE8A6";
                document.getElementById("form-reto-content").style.borderColor = "#CAE8A6";
            break;
            case "participantes":
                document.getElementById("form-reto-content").style.backgroundColor = "#BBF1F7";
                document.getElementById("form-reto-content").style.borderColor = "#BBF1F7";
            break;
            case "animadores":
                document.getElementById("form-reto-content").style.backgroundColor = "#F0CEF6";
                document.getElementById("form-reto-content").style.borderColor = "#F0CEF6";
            break;
            case "etapa-1":
                document.getElementById("form-etapa-content").style.backgroundColor =
                "#BCA5E5";
                document.getElementById("form-etapa-content").style.borderColor =
                "#BCA5E5";
            break;
            case "etapa-2":
                document.getElementById("form-etapa-content").style.backgroundColor =
                "#9BABFF";
                document.getElementById("form-etapa-content").style.borderColor =
                "#9BABFF";
            break;
            case "etapa-3":
                document.getElementById("form-etapa-content").style.backgroundColor = "#CAC9F3";
                document.getElementById("form-etapa-content").style.borderColor = "#CAC9F3";
            break;
            case "etapa-4":
                document.getElementById("form-etapa-content").style.backgroundColor = "#FCC2EF";
                document.getElementById("form-etapa-content").style.borderColor =
                "#FCC2EF";
            break;
            case "etapa-5":
                document.getElementById("form-etapa-content").style.backgroundColor =
                "#FD79A7";
                document.getElementById("form-etapa-content").style.borderColor =
                "#FD79A7";
            break;
        }
    }

    function cambiarPestana(id){
      elemento = document.getElementById(id + "-tab");
      $('#tab-pasos button[aria-controls="' + id + '"]').tab('show');
      elemento.classList.remove("d-none");
      cambiarColorCuerpo(id);
    }

    {% if errores %}
    window.onload = () => {
        cambiarPestana('general');
        document.getElementById("etapas-tab").classList.remove("d-none");
        document.getElementById("animadores-tab").classList.remove("d-none");
        {% if tipo_reto == "colectivos" %}
        document.getElementById("participantes-tab").classList.remove("d-none");
        {% endif %}
    }
    {% endif %}

</script>


<script type="text/javascript"
      src="{% static 'YoPuedo/js/SpeechSynthesis.js' %}"></script>
{% endblock %}

{% block modales %}
  <!-- MODAL DEL TIPO DE RETOS-->
  <div class="modal fade" id="modal">
    <div class="modal-dialog row align-items-center my-0" id="dialog">
        {% include 'YoPuedo/elementos/modal-retos.html' %}
    </div>
  </div>

  {% if tipo_reto == "" %}
    <script>
          window.onload = () => {
              $('#modal').modal('show');
          }
    </script>
  {% endif %}

<!-- MODAL DE AÑADIR A AMIGOS-->
  <div class="modal fade" id="modal-amigos">
    <div class="modal-dialog row align-items-center my-0" id="dialog-amigos" hx-target="this">
    </div>
  </div>

  <script>
     // Funciones para controlar el modal
    ;(function () {
      const modal = new bootstrap.Modal(document.getElementById("modal-amigos"))
      htmx.on("htmx:afterSwap", (e) => {
        // Response targeting #dialog => show the modal
        if (e.detail.target.id == "dialog-amigos") {
          modal.show()
        }
      })
      // Remove dialog content after hiding
      htmx.on("hidden.bs.modal", () => {
        document.getElementById("dialog-amigos").innerHTML = "";
      })
    })()
  </script>
{% endblock %}