{% load tags_registro %}
<table id="imagenes_password_{{ field.name }}" class="table"
     style="display: none;">
  <tr class="form-group row">
    <td class="col imagen-password p2"
         onclick="escribirPassword('{{field.id_for_label}}', '{% password_imagen 'bosque' %}')">
      <img src="/media/YoPuedo/password/bosque.png" alt="bosque" class="img-thumbnail">
    </td>
    <td class="col imagen-password p2"
         onclick="escribirPassword('{{field.id_for_label}}', '{% password_imagen 'mirador' %}'){% endif %}">
      <img src="/media/YoPuedo/password/mirador.png" alt="mirador" class="img-thumbnail">
    </td>
    <td class="col imagen-password p2"
         onclick="escribirPassword('{{field.id_for_label}}', '{% password_imagen 'montaña' %}'){% endif %}">
      <img src="/media/YoPuedo/password/montaña.png" alt="montaña" class="img-thumbnail">
    </td>
  </tr>
  <tr class="form-group row">
    <td class="col imagen-password p2"
         onclick="escribirPassword('{{field.id_for_label}}', '{% password_imagen 'piscina' %}'){% endif %}">
      <img src="/media/YoPuedo/password/piscina.png" alt="piscina" class="img-thumbnail">
    </td>
    <td class="col imagen-password p2"
        onclick="escribirPassword('{{field.id_for_label}}', '{% password_imagen 'playa' %}'){% endif %}">
      <img src="/media/YoPuedo/password/playa.png" alt="playa" class="img-thumbnail">
    </td>
    <td class="col imagen-password p2"
        onclick="escribirPassword('{{field.id_for_label}}', '{% password_imagen 'selva' %}'){% endif %}">
      <img src="/media/YoPuedo/password/selva.png" alt="selva" class="img-thumbnail">
    </td>
  </tr>
</table>