{% extends "base.html" %}

{% load static %}

{% block static %}
  <link rel="stylesheet" href="{% static 'YoPuedo/css/mis_retos.css'%}">
  <link rel="stylesheet" href="{% static 'YoPuedo/css/perfil.css'%}">
  <link rel="stylesheet" href="{% static 'YoPuedo/css/peticion-clave.css'%}">
  <link rel="stylesheet" href="{% static 'YoPuedo/css/registro.css'%}">
  <script src="https://kit.fontawesome.com/05cfaef439.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script type="text/javascript"
        src="{% static 'YoPuedo/js/AudioTranscript.js' %}"></script>
  <script type="text/javascript"
        src="{% static 'YoPuedo/js/SpeechSynthesis.js' %}"></script>
{% endblock %}

{% block contenido %}
<div class="m-2 m-md-3">
    <div class="perfil container p-1 p-md-3">
        <h4 class="text-center fw-bold titulo">
            {{ nombre }}
        </h4>
        <img src="{{ foto_perfil }}"
             class="img-fluid rounded col-5 col-md-3 mx-auto d-block">
        <div class="informacion px-md-5 py-3">
            <div class="row email align-items-center">
                <div class="col-md-3 col-1">
                    <div class="row">
                        <i class="fa-solid fa-envelope col-1 d-flex justify-content-center"></i>
                        <h6 class="col-10 fw-bold mb-0 d-md-block d-none">Email:</h6>
                    </div>
                </div>
                <h6 class="col-md-7 col-9" id="email">
                    {{ email }}
                </h6>
                <div class="col-2 d-flex justify-content-center">
                    {% include 'YoPuedo/elementos/altavoz.html' with elementSpeech='email' %}
                </div>
            </div>
        </div>
        <div class="botones d-grid justify-content-center">
            {% if not '/solicitud_amistad/' in request.get_full_path %}
            <button class="btn btn-primary btn-block fw-bold eliminar mt-2"
                    onclick="dejarSeguir('{{ email }}')">
                <i class="fa-sharp fa-solid fa-trash"></i>
                Dejar de seguir
            </button>
            {% else %}
            <button class="btn btn-primary btn-block fw-bold aceptar mt-2"
                    hx-get="{% url 'validar_clave' tipo=email email=request.user.email %}"
                    hx-target="#dialog">
                <i class="fa-solid fa-user-plus"></i>
                Aceptar solicitud
            </button>
            <button class="btn btn-primary btn-block fw-bold eliminar mt-2"
                    onclick="rechazar('{{ email }}')">
                <i class="fa-sharp fa-solid fa-trash"></i>
                Rechazar solicitud
            </button>
            {% endif %}
        </div>
    </div>
    {% if not '/solicitud_amistad/' in request.get_full_path %}
    <div class="p-2 retos">
        {% include 'YoPuedo/elementos/reto.html' with retos=retos %}
    </div>
    {% endif %}
</div>
<script>
{% if not '/solicitud_amistad/' in request.get_full_path %}
/****************************************************************************************/

    // Función para dejar a una persona
    function dejarSeguir(amigo){
        enlace = "{% url 'dejar_amigo' amigo='usuario' %}".replace("usuario",
                                                                    amigo.toString());
        htmx.ajax('POST', enlace, {headers:{'X-CSRFToken': '{{ csrf_token }}'}})
    }

/****************************************************************************************/
{% else %}
/****************************************************************************************/

    // Función para rechazar a una persona
    function rechazar(amigo){
        enlace = "{% url 'rechazar' usuario='amigo' %}".replace("amigo", amigo.toString
        ());
        htmx.ajax('POST', enlace, {headers:{'X-CSRFToken': '{{ csrf_token }}'}})
    }

/****************************************************************************************/
{% endif %}
</script>
{% endblock %}

{% if '/solicitud_amistad/' in request.get_full_path %}
    {% block modales %}
    <div class="modal fade" id="modal">
        <div class="modal-dialog row align-items-center my-0" id="dialog" hx-target="this">
        </div>
    </div>
    <script>

    // Métodos para la gestión del modal

      ;(function () {
      const modal = new bootstrap.Modal(document.getElementById("modal"))
      htmx.on("htmx:afterSwap", (e) => {
        // Response targeting #dialog => show the modal
        if (e.detail.target.id == "dialog") {
          modal.show()
        }
      })

      htmx.on("htmx:beforeSwap", (e) => {
        // Empty response targeting #dialog => hide the modal
        if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
          modal.hide()
          e.detail.shouldSwap = false
        }
      })
      // Remove dialog content after hiding
      htmx.on("hidden.bs.modal", () => {
        document.getElementById("dialog").innerHTML = ""
        window.location.href = "{% url 'solicitud' usuario=email %}";
      })
    })()
    </script>
    {% endblock %}
{% endif %}