{% load i18n static bootstrap5 tags_registro %}
<link rel="stylesheet" href="{% static 'YoPuedo/css/registro.css'%}">
<link rel="stylesheet" href="{% static 'YoPuedo/css/iniciar_sesion.css'%}">
<link rel="stylesheet" href="{% static 'YoPuedo/css/peticion-clave.css'%}">
<link rel="stylesheet" href="{% static 'YoPuedo/css/base.css'%}">
<form class="form modal-content" hx-post="{{ request.path }}">
  <div class="modal-header">
    <h5 class="modal-title titulo-peticionclave" id="validar_clave_label">
      ¿Eres tú?
    </h5>
  </div>
  <div class="modal-body container">
    {% csrf_token %}
    <div class="row align-items-center">
        <div class="col-10">
            <h6>
                Te acabamos de mandar un correo con un código de
                verificación para asegurarnos que eres tú quien realiza
                esta acción. Por favor, ábrelo y escribe o di el código que
                hay dentro de él para continuar:
            </h6>
        </div>
        <div class="col">
            {% include 'YoPuedo/elementos/altavoz.html' %}
        </div>
    </div>

    {% for field in peticion_clave %}
    <div class='form-group {% if field.errors %} errorlist {% endif %}'>
      {% if field.name == "clave" %}
        <i class="bi bi-hand-thumbs-up-fill"></i>
            {{ field.label }}

          <div class="container inputs">
            <div class="row align-items-center">
              <div class="col-10">
                {{ field }}
              </div>
              <div class="col">
                {% include 'YoPuedo/elementos/microfono.html' %}
              </div>
            </div>
          </div>

          {% for error in field.errors%}
          <div class="errorlist">
            <i class="bi bi-x-circle-fill"></i>
            {{ error }}
          </div>
          {% endfor %}
      {% else %}
        {{ field }}
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="modal-footer justify-content-center">
    <button id="boton-registro" type="submit" class="btn btn-primary principales">
      <i class="bi bi-check"></i>
      VERIFICAR
    </button>
  </div>
</form>