<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>¡Yo puedo!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static '/YoPuedo/css/registro.css'%}">
  <link rel="stylesheet" href="{% static '/YoPuedo/css/base.css'%}">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  </head>
<body>
  <section id="registro" class=".container-md">
    <div id="titulo-registro">
      <h2>Bienvenido a ¡Yo puedo!</h2>
    </div>
    <div id="formulario-registro">
      <form class="form" method="post" action="{% url 'registrarse' %}">
        {% csrf_token %}
        {% for field in register_form %}
        <div class='form-group'>
          <label for="{{ field.name }}" class="form-label">
            {% if field.name == "email" %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
            </svg>
            {% elif  field.name == "nombre" %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            {% elif field.name == "foto_de_perfil" %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
              <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
            {% endif %}
            {{ field.label }}
          </label>
          {{ field }}
        </div>
        {% endfor %}

        <div class='form-group d-flex justify-content-center'>
         <button id="boton-registro" type="submit" class="btn btn-primary">REGISTRARSE
         </button>
        </div>
      </form>

      <div class='form-group d-flex justify-content-center'>
        <button id="boton-iniciosesion" class="btn btn-primary">INICIAR SESIÓN</button>
      </div>
    </div>
  </section>
</body>
</html>