<!DOCTYPE html>
<html lang="es" class="window">
<head>
  <meta charset="UTF-8">
  <title>¡Yo puedo!</title>
  {% include "YoPuedo/base.html" %}
</head>
<body class="container">
  <div id="contenedor" class="row align-items-center">
    <section id="registro" class="col">
      <div id="titulo-registro">
        <h2>
          Bienvenido a ¡Yo puedo!
          <i class="bi bi-award-fill"></i>
        </h2>
      </div>
      <div id="formulario-registro">
        <form class="form" method="post" action="{% url 'registrarse' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in register_form %}
          <div class='form-group {% if field.errors %} errorlist {% endif %}'>
            {% if field.name == "email" %}
              <i class="bi bi-envelope-fill"></i>
            {% elif field.name == "nombre" %}
              <i class="bi bi-person-fill"></i>
            {% elif field.name == "foto_de_perfil" %}
              <i class="bi bi-file-person-fill"></i>
            {% else %}
              <i class="bi bi-key-fill"></i>
            {% endif %}

            {{ field.label }}

            <div class="container inputs">
              <div class="row align-items-center">
                <div class="col-10 {{field.name}}">
                  {{ field }}
                </div>
                {% if field.name != "foto_de_perfil"%}
                  <div class="col">
                    {% if field.name == "password" or field.name == "password_again" %}
                      <button class="btn btn-primary mostrar_ocultar_password"
                            onclick="{% if field.name == 'password' %} mostrarOcultarImagenesPassword()
                                     {% else %} mostrarOcultarImagenesPasswordAgain() {% endif %}">
                        <i class="bi bi-card-image"></i>
                      </button>
                    {% endif %}
                    {% include 'YoPuedo/microfono.html' %}
                  </div>
                {% endif %}
              </div>
            </div>

            {% if field.name == "password" or field.name == "password_again" %}
              {% include 'YoPuedo/password.html'%}
            {% endif %}


            {% for error in field.errors%}
            <div class="errorlist">
              <i class="bi bi-x-circle-fill"></i>
              {{ error }}
            </div>
            {% endfor %}

          </div>
          {% endfor %}

          <div class='form-group d-flex justify-content-center'>
           <button id="boton-registro" type="submit" class="btn btn-primary principales"
                  data-bs-toggle="modal" data-bs-target="#validar_clave"
                   hx-target="#dialog-clave">
             <i class="bi bi-person-plus-fill"></i>
             REGISTRARSE
           </button>
          </div>
        </form>

        <div class='form-group d-flex justify-content-center'>
          <button id="boton-iniciosesion" class="btn btn-primary principales"
                  data-bs-toggle="modal" data-bs-target="#iniciar_sesion"
                  hx-get="{% url 'iniciar_sesion' %}" hx-target="#dialog">
            <i class="bi bi-box-arrow-in-right"></i>
            INICIAR SESIÓN
          </button>
        </div>
      </div>
    </section>
  </div>

  <div class="modal fade" id="iniciar_sesion">
    <div class="modal-dialog row align-items-center" id="dialog" hx-target="this">
    </div>
  </div>

  <div class="modal fade" id="validar_clave">
    <div class="modal-dialog" id="dialog-clave" hx-target="this">
    </div>
  </div>
</body>
</html>

<script>
  function escribirPassword(input, value){
    inputValue = document.getElementById(input).value;
    if((inputValue.length + value.length) < 16){
      if(inputValue)
        document.getElementById(input).value += value;
      else
        document.getElementById(input).value = value;
    }
  }

  function cambiarVisibilidad(id){
    var visibilidad = document.getElementById(id).style.display;

    if(visibilidad == "none")
      document.getElementById(id).style.display="block";
    else
      document.getElementById(id).style.display="none";
  }

  function mostrarOcultarImagenesPassword(){
    cambiarVisibilidad("imagenes_password_password");
  }

  function mostrarOcultarImagenesPasswordAgain(){
    cambiarVisibilidad("imagenes_password_password_again");
  }
</script>