<!DOCTYPE html>
<html lang="es" class="window">
<head>
  <meta charset="UTF-8">
  <title>¡Yo puedo!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
  {% load i18n static bootstrap5 tags_registro %}
  <link rel="stylesheet" href="{% static 'YoPuedo/css/registro.css'%}">
  <link rel="stylesheet" href="{% static 'YoPuedo/css/base.css'%}">
  <link rel="stylesheet" href="{% static 'YoPuedo/css/iniciar_sesion.css'%}">
  <link rel="stylesheet" href="{% static 'YoPuedo/css/peticion-clave.css'%}">
  <link rel="stylesheet" href="{% static 'YoPuedo/css/recuperar_contrasena.css'%}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <script src="https://unpkg.com/htmx.org@1.8.0"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body class="container" hx-trigger="postClave from:body" hx-get="{% url 'index' %}"
      hx-target="this">
  <div id="contenedor" class="row align-items-center">
    <section id="registro" class="col">
      <div id="titulo-registro">
        <h2>
          Bienvenido a ¡Yo puedo!
          <i class="bi bi-award-fill"></i>
        </h2>
      </div>
      <div id="formulario-registro">
        <form class="form" method="post" action="{% url 'registrarse' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in register_form %}
          <div class='form-group {% if field.errors %} errorlist {% endif %}'>
            {% if field.name == "email" %}
              <i class="bi bi-envelope-fill"></i>
            {% elif field.name == "nombre" %}
              <i class="bi bi-person-fill"></i>
            {% elif field.name == "foto_de_perfil" %}
              <i class="bi bi-file-person-fill"></i>
            {% else %}
              <i class="bi bi-key-fill"></i>
            {% endif %}
            {{ field.label }}
            <div class="container inputs">
              <div class="row align-items-center">
                <div class="col-10 {{field.name}}">
                  {{ field }}
                </div>
                {% if field.name != "foto_de_perfil"%}
                  <div class="col">
                    {% if field.name == "password" or field.name == "password_again" %}
                      <button class="btn btn-primary mostrar_ocultar_password"
                          onclick="cambiarVisibilidad('imagenes_{{ field.name }}')">
                        <i class="bi bi-card-image"></i>
                      </button>
                    {% endif %}
                    {% include 'YoPuedo/elementos/microfono.html' %}
                  </div>
                {% endif %}
              </div>
            </div>
            {% if field.name == "password" or field.name == "password_again" %}
              {% include 'YoPuedo/elementos/password.html'%}
            {% endif %}
            {% for error in field.errors%}
            <div class="errorlist">
              <i class="bi bi-x-circle-fill"></i>
              {{ error }}
            </div>
            {% endfor %}
          </div>
          {% endfor %}
          <div class='form-group d-flex justify-content-center'>
           <button id="boton-registro" type="submit"
                   class="btn btn-primary principales">
             <i class="bi bi-person-plus-fill"></i>
             REGISTRARSE
           </button>
          </div>
        </form>
        <div class='form-group d-flex justify-content-center'>
          <button id="boton-iniciosesion" class="btn btn-primary principales"
                  data-bs-toggle="modal"
                  hx-get="{% url 'iniciar_sesion' %}" hx-target="#dialog">
            <i class="bi bi-box-arrow-in-right"></i>
            INICIAR SESIÓN
          </button>
        </div>
      </div>
    </section>
  </div>

  {% if url %}
  <div hx-get="{{ url }}" hx-trigger="load" data-bs-toggle="modal" hx-target="#dialog">
  </div>
  {% endif %}

  <div class="modal fade" id="modal">
    <div class="modal-dialog row align-items-center" id="dialog" hx-target="this">
    </div>
  </div>
</body>
</html>

<script>
  function escribirPassword(input, value){
    inputValue = document.getElementById(input).value;
    if((inputValue.length + value.length) < 16){
      if(inputValue)
        document.getElementById(input).value += value;
      else
        document.getElementById(input).value = value;
    }
  }
  function cambiarVisibilidad(id){
    var visibilidad = document.getElementById(id).style.display;
    if(visibilidad == "none")
      document.getElementById(id).style.display="block";
    else
      document.getElementById(id).style.display="none";
  }
</script>
<script type="text/javascript"
        src="{% static 'YoPuedo/js/SpeechRecognition.js' %}"></script>
<script type="text/javascript"
        src="{% static 'YoPuedo/js/SpeechSynthesis.js' %}"></script>
<script>
  ;(function () {
  const modal = new bootstrap.Modal(document.getElementById("modal"))
  htmx.on("htmx:afterSwap", (e) => {
    // Response targeting #dialog => show the modal
    if (e.detail.target.id == "dialog") {
      modal.show()
    }
  })

  htmx.on("htmx:beforeSwap", (e) => {
    // Empty response targeting #dialog => hide the modal
    if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
      modal.hide()
      e.detail.shouldSwap = false
    }
  })
  // Remove dialog content after hiding
  htmx.on("hidden.bs.modal", () => {
    document.getElementById("dialog").innerHTML = ""
  })
})()
</script>
