<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title titulo-modal fw-bold">
      <i class="fa-solid fa-user-plus"></i>
      Añadir {{ relacion }}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form class="form row" hx-get="{{ request.path }}">
        <div class="col-8 col-md-9">
            {% for field in form_consulta %}
                {{ field }}
            {% endfor %}
        </div>
        <button type="submit"
                class="col-1 fw-bold btn btn-primary buscar">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <div class="col-1">
            {% include 'YoPuedo/elementos/microfono.html' with elementRecognition="buscador_amigos" %}
        </div>
    </form>

    <div class="amigos m-2">
        {% for amigo in amigos %}
        <div class="row pt-2 pb-2" id="amigo-{{amigo.email}}">
            <div class="foto-perfil col-4">
                <img class="imagen-perfil img-fluid rounded mx-auto d-block" src="{{amigo.foto_perfil}}">
            </div>
            <div class="nombre col-5 align-self-center">
                <h5 class="fw-bold">
                    {{amigo.nombre}}
                </h5>
            </div>
            <div class="botones col-3 align-self-center">
                <button class="anadir-amigo btn btn-primary fw-bold"
                        onclick="anadirAmigo({{amigo}})">
                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-user-plus"></i>
                        </div>
                        <div class="d-none d-md-block col-8">
                            Añadir
                        </div>
                    </div>
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
  <div class="modal-footer justify-content-end">
    <button type="button" class="btn btn-primary fw-bold aceptar" data-bs-dismiss="modal"
            onclick="anadirAmigos()">
      <i class="fa-solid fa-check"></i>
      Aceptar
    </button>
  </div>
</div>

<script>
    amigos = [];

/****************************************************************************************/

    // Función para añadir amigos a la lista
    function anadirAmigo(amigo){
        amigos.push(amigo);

        divAmigo = document.getElementById("amigo-" + amigo.email);
        button = divAmigo.getElementsByClassName("anadir-amigo")[0];
        button.classList.remove("anadir-amigo");
        button.classList.add("borrar-amigo");
        button.setAttribute("onclick", "eliminarAmigo({"+
            "'email':'" + amigo.email + "'," +
            "'foto_perfil':'" + amigo.foto_perfil + "'," +
            "'nombre':'" + amigo.nombre + "'"
        +"})");
        divButton = button.children[0];
        i = document.createElement("i");
        i.className = "fa-solid fa-user-minus";
        texto = document.createTextNode("Eliminar");
        divButton.children[0].appendChild(i);
        divButton.children[1].appendChild(texto);
    }

/****************************************************************************************/

    // Función para eliminar amigos de la lista
    function eliminarAmigo(amigo){
        amigos.pop(amigo);

        divAmigo = document.getElementById("amigo-" + amigo.email);
        button = divAmigo.getElementsByClassName("borrar-amigo")[0];
        button.classList.add("anadir-amigo");
        button.classList.remove("borrar-amigo");
        button.setAttribute("onclick", "anadirAmigo({"+
            "'email':'" + amigo.email + "'," +
            "'foto_perfil':'" + amigo.foto_perfil + "'," +
            "'nombre':'" + amigo.nombre + "'"
        +"})");
        divButton = button.children[0];
        i = document.createElement("i");
        i.className = "fa-solid fa-user-plus";
        texto = document.createTextNode("Añadir");
        divButton.children[0].appendChild(i);
        divButton.children[1].appendChild(texto);
    }

/****************************************************************************************/

    // Función para añadir amigos
    function anadirAmigos(){
        {% if relacion == 'animador' %}
        anadirAnimadores();
        {% else %}
        anadirParticipantes();
        {% endif %}
    }

/****************************************************************************************/
</script>

