{% load tags_categorias %}

{% for reto in retos %}
  <div class="row justify-content-between border-bottom border-dark p-md-3 p-2">
      <div class="col-2 align-self-center text-center categoria">
          {% if reto.categoria == 'economia' %}
          <i class="fa-solid fa-piggy-bank"></i>
          {% elif reto.categoria == 'inteligencia' %}
          <i class="fa-solid fa-brain"></i>
          {% elif reto.categoria == 'salud' %}
          <i class="fa-solid fa-dumbbell"></i>
          {% elif reto.categoria == 'mente' %}
          <i class="fa-solid fa-face-frown"></i>
          {% endif %}
          <h5 class="fw-bolder d-none d-md-block">
              {% valor_categoria reto.categoria %}
          </h5>
      </div>
      <div class="col-8 row justify-content-between objetivo">
          {% if "mp3" in reto.objetivo or "acc" in reto.objetivo or "ogg" in reto.objetivo or "wma" in reto.objetivo %}
          <div class="col-md-4 col-12 mb-4 m-md-0 informacion align-self-center">
          {% elif "jpg" in reto.objetivo or "jpeg" in reto.objetivo or "png" in reto.objetivo or "svg" in reto.objetivo or "gif" in reto.objetivo %}
          <div class="col-md-9 col-12 mb-4 m-md-0 informacion align-self-center ratio-mio ratio-4x3">
          {% else %}
          <div class="col-md-9 col-12 mb-4 m-md-0 informacion align-self-center">
          {% endif %}
              <h4 class="titulo_reto fw-bolder"
                  id="titulo_{{ reto.id_reto }}">
                  {{ reto.titulo }}
              </h4>
              {% if "mp3" in reto.objetivo or "acc" in reto.objetivo or "ogg" in reto.objetivo or "wma" in reto.objetivo %}
              <audio controls id="audio"
                     onplay="obtenerAudio('{{ reto.objetivo }}', 'texto_audio_{{ reto.id_reto }}')">
                <source src="{{ reto.objetivo }}" type="audio/mpeg">
              </audio>
              {% elif "jpg" in reto.objetivo or "jpeg" in reto.objetivo or "png" in reto.objetivo or "svg" in reto.objetivo or "gif" in reto.objetivo %}
                <img class="imagen_reto rounded col-md-6 mx-auto d-block
                col-xl-5" src="{{ reto.objetivo }}">
              {% elif "mp4" in reto.objetivo or "ogg" in reto.objetivo %}
              <video class="imagen_reto rounded col-md-6 mx-auto d-block
                col-xl-5" controls>
                  <source src="{{ reto.objetivo }}" type="video/mp4">
              </video>
              {% else %}
              <h5 class="texto_reto">
                  {{ reto.objetivo }}
              </h5>
              {% endif %}
          </div>
          {% if "mp3" in reto.objetivo or "acc" in reto.objetivo or "ogg" in reto.objetivo or "wma" in reto.objetivo %}
          <div class="col-md-8 align-self-center text-center overflow-auto audio">
              <h6 id="texto_audio_{{ reto.id_reto }}"></h6>
          </div>
          {% else %}
          <div class="col-md-1 col align-self-center text-center">
              {% with "titulo_"|add:reto.id_reto as texto_reto %}
              {% include 'YoPuedo/elementos/altavoz.html' with elementSpeech=texto_reto %}
              {% endwith %}
          </div>
          {% endif %}
      </div>
      <button class="btn col-md-1 col-2 text-center align-self-center ver-reto"
           onclick="irReto('{{ reto.id_reto }}')">
          <i class="fa-solid fa-angle-right"></i>
      </button>
  </div>
{% endfor %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show mt-3"
             role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                 aria-label="{{ message.tags }}:">
                {% if 'success' in message.tags %}
                <use xlink:href="#check-circle-fill"/>
                {% elif 'primary' in message.tags %}
                <use xlink:href="#info-fill"/>
                {% else %}
                <use xlink:href="#exclamation-triangle-fill"/>
                {% endif %}
            </svg>
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
{% if retos|length > 0 %}
<div class="m-3" id="paginador">
  <nav>
    <ul class="pagination justify-content-center">
      {% if retos.has_previous %}
        <li page-item>
            <a class="page-link"
               onclick="urlPagina('page={{ retos.previous_page_number }}')">
                &laquo;
            </a>
        </li>
      {% else %}
        <li class="page-item disabled">
            <span class="page-link">&laquo;</span>
        </li>
      {% endif %}
      {% for i in retos.paginator.page_range %}
        {% if retos.number == i %}
          <li class="page-item active">
              <span class="page-link">
                  {{ i }}
                  <span class="sr-only">(Actual)</span>
              </span>
          </li>
        {% else %}
          <li class="page-item">
              <a class="page-link"
               onclick="urlPagina('page={{ i }}')">
                  {{ i }}
              </a>
          </li>
        {% endif %}
      {% endfor %}
      {% if retos.has_next %}
        <li class="page-item">
            <a class="page-link"
               onclick="urlPagina('page={{ retos.next_page_number }}')">
                &raquo;
            </a>
        </li>
      {% else %}
        <li class="page-item disabled">
            <span class="page-link">&raquo;</span>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %}
<script>
    function urlPagina(pagina){
        const urlParams = new URLSearchParams(window.location.search);
        enlace = "";

        if(urlParams.has('categoria'))
            enlace = "{% url 'retos' %}?tipo=" + urlParams.get('tipo')
            + "&categoria=" + urlParams.get('categoria') + "&estado={{estado}}&" + pagina;
        else
            enlace = "{% url 'retos' %}?tipo=" + urlParams.get('tipo') +
            "&estado={{estado}}&" +  pagina;

        htmx.ajax('GET', enlace, {target:'#{{ estado }}', swap:'innerHTML'})
    }

    function irReto(id){
        url = "{% url 'reto' id_reto='id' %}".replace("id", id.toString());
        window.location.href = url;
    }
</script>